
<div>
    <h2><span translate="karrmicApp.city.detail.title">City</span> {{city.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.city.geonameId">GeonameId</span>
                </td>
                <td>
                    <span class="form-control-static">{{city.geonameId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.city.continentCode">ContinentCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{city.continentCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.city.countryIsoCode">CountryIsoCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{city.countryIsoCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.city.cityName">CityName</span>
                </td>
                <td>
                    <span class="form-control-static">{{city.cityName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.city.timeZone">TimeZone</span>
                </td>
                <td>
                    <span class="form-control-static">{{city.timeZone}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
