
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCityLabel" translate="karrmicApp.city.home.createOrEditLabel">Create or edit a City</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="city.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.city.geonameId" for="field_geonameId">GeonameId</label>
            <input type="text" class="form-control" name="geonameId" id="field_geonameId"
                    ng-model="city.geonameId"
                    required>
            <div ng-show="editForm.geonameId.$invalid">
                <p class="help-block"
                    ng-show="editForm.geonameId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.city.continentCode" for="field_continentCode">ContinentCode</label>
            <input type="text" class="form-control" name="continentCode" id="field_continentCode"
                    ng-model="city.continentCode"
                    required>
            <div ng-show="editForm.continentCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.continentCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.city.countryIsoCode" for="field_countryIsoCode">CountryIsoCode</label>
            <input type="text" class="form-control" name="countryIsoCode" id="field_countryIsoCode"
                    ng-model="city.countryIsoCode"
                    required>
            <div ng-show="editForm.countryIsoCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryIsoCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.city.cityName" for="field_cityName">CityName</label>
            <input type="text" class="form-control" name="cityName" id="field_cityName"
                    ng-model="city.cityName"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.city.timeZone" for="field_timeZone">TimeZone</label>
            <input type="text" class="form-control" name="timeZone" id="field_timeZone"
                    ng-model="city.timeZone"
                    >
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
