<!-- START TOPBAR -->
<div class='logo-area'>
</div>
<div class='quick-area' ng-controller="ModalDemoCtrl">
    <div class='pull-left slantit'>
        <ul class="info-menu left-links list-inline list-unstyled">
            <li class="sidebar-toggle-wrap">
                <a href data-toggle="sidebar" class="sidebar_toggle" ng-click="app.settings.menuFolded = !app.settings.menuFolded; menuChatToggle('menu',app.settings.menuFolded) ">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="pull-left pagetitle">
        <span class='line'></span>
        <h1>{{app.settings.pagetitle}}</h1>
        <div></div>
    </div>
    <div ng-show="loginCheck.lc == 'success'" class="pull-left" style='z-index:1;position:relative;'>
        <ul class="info-menu right-links list-inline list-unstyled">
            <li class="dropdown tab hidden-gxs hidden-xs " dropdown>
                <a href class="dropdown-toggle toggle" dropdown-toggle>
                    <i class="material-icons">email</i>
                    <span class="badge badge-primary">7</span>
                </a>
                <ul class="dropdown-menu  messages animated fadeIn">
                    <li ng-controller="MessagesDropDownCtrl" class="list">
                        <perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" class='ps-scrollbar'>
                            <ul class="dropdown-menu-list list-unstyled">
                                <li class="{{message.read ? 'read' : 'unread'}} status-{{message.status}}" ng-repeat="message in messages">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img ng-src="{{message.avatar}}" alt="user-image" class="img-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                    <h4>{{message.name}}</h4>
                                                    <span class="time small">{{message.time}}</span>
                                            <span class="profile-status {{message.status}} pull-right"></span>
                                            </span>
                                            <span class="desc small">
                                                    {{message.description}}
                                                </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </perfect-scrollbar>
                    </li>
                    <li class="external">
                        <a href="javascript:;">
                            <span>Read All Messages</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown tab hidden-gxs hidden-xs " dropdown>
                <a href class="dropdown-toggle toggle" dropdown-toggle>
                    <i class="material-icons">notifications</i>
                    <span class="badge badge-orange">3</span>
                </a>
                <ul class="dropdown-menu  notifications animated fadeIn">
                    <li class="total">
                        <span class="small">
                                You have <strong>3</strong> new notifications.
                                <a href="javascript:;" class="pull-right">Mark all as Read</a>
                            </span>
                    </li>
                    <li ng-controller="NotificationsDropDownCtrl" class="list">
                        <perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" class='ps-scrollbar'>
                            <ul class="dropdown-menu-list list-unstyled">
                                <li class="{{notification.read ? 'read' : 'unread'}} {{notification.status}}" ng-repeat="notification in notifications">
                                    <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="material-icons">{{notification.statusicon}}</i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                    <h4>{{notification.message}}</h4>
                                                    <span class="time small">{{notification.time}}</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </perfect-scrollbar>
                    </li>
                    <li class="external">
                        <a href="javascript:;">
                            <span>Read All Notifications</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-profile-toggle tab hidden-sm hidden-xs ">
                <a href class="profile_toggle" ng-click="app.settings.menuProfile = !app.settings.menuProfile ">
                    <i class="material-icons">person</i>
                </a>
            </li>

        </ul>
    </div>
    <div class='pull-left searchbar'>
        <ul class="info-menu right-links list-inline list-unstyled">
            <li class="hidden-md hidden-sm hidden-xs searchform" searchgroup>
                <div class="input-group">
                    <span class="input-group-addon input-focus">
                            <i class="material-icons">search</i>
                        </span>
                    <form action="search-page.html" method="post">
                        <input type="text" class="form-control animated fadeIn" placeholder="">
                        <input type='submit' value="">
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <div class='pull-right'>

        <ul class="info-menu right-links list-inline list-unstyled" >

            <li ng-show="loginCheck.lc == 'Error'" class="tab" >
                <a href="#" ng-click="openRegisterform(records)">  <i class="material-icons">person</i></a>
            </li>

            <li ng-show="loginCheck.lc == 'Error'" class="tab" >
                <a href="#" ng-click="openform(loginCheck)">  <i class="material-icons">person</i></a>
            </li>
            <li ng-show="loginCheck.lc == 'success'" class="dropdown profile tab" dropdown>
                <a href class="dropdown-toggle toggle" dropdown-toggle>
                    <img src="data/profile/profile.png" alt="user-image" class="img-circle img-inline">
                    <span class="profile-status available"></span>
                        <!-- <span class='hidden-sm hidden-md hidden-xs'>John Carter </span>  -->
                        <!-- <i class="material-icons hidden-md hidden-sm hidden-xs">expand_more</i> -->
                </a>
                <ul class="dropdown-menu dropdown-menu-right profile animated fadeIn">
                    <li>
                        <a ui-sref="app.dashboard">
                            <i class="material-icons">settings</i> Settings
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.ui.profile">
                            <i class="material-icons">person</i> Profile
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.ui.faq">
                            <i class="material-icons">help</i> Help
                        </a>
                    </li>
                    <li class="last">
                        <a ui-sref="access.login">
                            <i class="material-icons">lock</i> Logout
                        </a>
                    </li>
                </ul>
            </li>

        </ul>


    </div>
</div>
<!-- END TOPBAR -->
