
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerOrderLabel" translate="karrmicApp.customerOrder.home.createOrEditLabel">Create or edit a CustomerOrder</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="customerOrder.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.customerOrder.amountPaid" for="field_amountPaid">AmountPaid</label>
            <input type="number" class="form-control" name="amountPaid" id="field_amountPaid"
                    ng-model="customerOrder.amountPaid"
                    required min="0">
            <div ng-show="editForm.amountPaid.$invalid">
                <p class="help-block"
                    ng-show="editForm.amountPaid.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amountPaid.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.amountPaid.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.customerOrder.dateCreated" for="field_dateCreated">DateCreated</label>
            <input type="datetime-local" class="form-control" name="dateCreated" id="field_dateCreated"
                    ng-model="customerOrder.dateCreated" ng-model-options="{timezone: 'UTC'}"
                    required>
            <div ng-show="editForm.dateCreated.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateCreated.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateCreated.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.customerOrder.transactionNumber" for="field_transactionNumber">TransactionNumber</label>
            <input type="text" class="form-control" name="transactionNumber" id="field_transactionNumber"
                    ng-model="customerOrder.transactionNumber"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.customerOrder.orderStatus" for="field_orderStatus">OrderStatus</label>
            <select class="form-control" name="orderStatus" ng-model="customerOrder.orderStatus" id="field_orderStatus" required>
                <option value="INCART" translate="karrmicApp.OrderStatus.INCART">INCART</option>
                <option value="STARTCHECKOUT" translate="karrmicApp.OrderStatus.STARTCHECKOUT">STARTCHECKOUT</option>
                <option value="CHECKEDOUT" translate="karrmicApp.OrderStatus.CHECKEDOUT">CHECKEDOUT</option>
                <option value="PAID" translate="karrmicApp.OrderStatus.PAID">PAID</option>
                <option value="SHIPPED" translate="karrmicApp.OrderStatus.SHIPPED">SHIPPED</option>
                <option value="RECEIVED" translate="karrmicApp.OrderStatus.RECEIVED">RECEIVED</option>
                <option value="CLOSED" translate="karrmicApp.OrderStatus.CLOSED">CLOSED</option>
            </select>
            <div ng-show="editForm.orderStatus.$invalid">
                <p class="help-block"
                    ng-show="editForm.orderStatus.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.customerOrder.productId" for="field_productId">ProductId</label>
            <input type="number" class="form-control" name="productId" id="field_productId"
                    ng-model="customerOrder.productId"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.customerOrder.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="customerOrder.quantity"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.customerOrder.shopperUserId" for="field_shopperUserId">ShopperUserId</label>
            <input type="text" class="form-control" name="shopperUserId" id="field_shopperUserId"
                    ng-model="customerOrder.shopperUserId"
                    >
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
