
<div>
    <h2><span translate="karrmicApp.customerOrder.detail.title">CustomerOrder</span> {{customerOrder.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.customerOrder.amountPaid">AmountPaid</span>
                </td>
                <td>
                    <span class="form-control-static">{{customerOrder.amountPaid}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.customerOrder.dateCreated">DateCreated</span>
                </td>
                <td>
                    <span class="form-control-static">{{customerOrder.dateCreated}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.customerOrder.transactionNumber">TransactionNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{customerOrder.transactionNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.customerOrder.orderStatus">OrderStatus</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'karrmicApp.OrderStatus.' + customerOrder.orderStatus}}">{{customerOrder.orderStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.customerOrder.productId">ProductId</span>
                </td>
                <td>
                    <span class="form-control-static">{{customerOrder.productId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.customerOrder.quantity">Quantity</span>
                </td>
                <td>
                    <span class="form-control-static">{{customerOrder.quantity}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.customerOrder.shopperUserId">ShopperUserId</span>
                </td>
                <td>
                    <span class="form-control-static">{{customerOrder.shopperUserId}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
