
<div>
    <h2><span translate="karrmicApp.country.detail.title">Country</span> {{country.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.country.geonameId">GeonameId</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.geonameId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.country.continentCode">ContinentCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.continentCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.country.countryIsoCode">CountryIsoCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.countryIsoCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.country.countryName">CountryName</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.countryName}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
