
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCountryLabel" translate="karrmicApp.country.home.createOrEditLabel">Create or edit a Country</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="country.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.country.geonameId" for="field_geonameId">GeonameId</label>
            <input type="text" class="form-control" name="geonameId" id="field_geonameId"
                    ng-model="country.geonameId"
                    required>
            <div ng-show="editForm.geonameId.$invalid">
                <p class="help-block"
                    ng-show="editForm.geonameId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.country.continentCode" for="field_continentCode">ContinentCode</label>
            <input type="text" class="form-control" name="continentCode" id="field_continentCode"
                    ng-model="country.continentCode"
                    required>
            <div ng-show="editForm.continentCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.continentCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.country.countryIsoCode" for="field_countryIsoCode">CountryIsoCode</label>
            <input type="text" class="form-control" name="countryIsoCode" id="field_countryIsoCode"
                    ng-model="country.countryIsoCode"
                    required ng-minlength="1" ng-maxlength="3">
            <div ng-show="editForm.countryIsoCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryIsoCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.countryIsoCode.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.countryIsoCode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="3">
                    This field cannot be longer than 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.country.countryName" for="field_countryName">CountryName</label>
            <input type="text" class="form-control" name="countryName" id="field_countryName"
                    ng-model="country.countryName"
                    required>
            <div ng-show="editForm.countryName.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
