
<div>
    <h2><span translate="karrmicApp.product.detail.title">Product</span> {{product.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.product.title">Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{product.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.product.synopsis">Synopsis</span>
                </td>
                <td>
                    <span class="form-control-static">{{product.synopsis}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.product.productDetails">ProductDetails</span>
                </td>
                <td>
                    <span class="form-control-static">{{product.productDetails}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.product.currentRating">CurrentRating</span>
                </td>
                <td>
                    <span class="form-control-static">{{product.currentRating}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.product.karmaPoints">KarmaPoints</span>
                </td>
                <td>
                    <span class="form-control-static">{{product.karmaPoints}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.product.category">category</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="category.detail({id:product.category.id})">{{product.category.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.product.pricing">pricing</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="pricing.detail({id:product.pricing.id})">{{product.pricing.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.product.seller">seller</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="seller.detail({id:product.seller.id})">{{product.seller.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
