
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel" translate="karrmicApp.product.home.createOrEditLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="product.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.product.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="product.title"
                    required ng-minlength="5" ng-maxlength="100">
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.product.synopsis" for="field_synopsis">Synopsis</label>
            <input type="text" class="form-control" name="synopsis" id="field_synopsis"
                    ng-model="product.synopsis"
                    required ng-minlength="50" ng-maxlength="10000">
            <div ng-show="editForm.synopsis.$invalid">
                <p class="help-block"
                    ng-show="editForm.synopsis.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.synopsis.$error.minlength" translate="entity.validation.minlength" translate-value-min="50">
                    This field is required to be at least 50 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.synopsis.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10000">
                    This field cannot be longer than 10000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.product.productDetails" for="field_productDetails">ProductDetails</label>
            <input type="text" class="form-control" name="productDetails" id="field_productDetails"
                    ng-model="product.productDetails"
                    required ng-minlength="50" ng-maxlength="25000">
            <div ng-show="editForm.productDetails.$invalid">
                <p class="help-block"
                    ng-show="editForm.productDetails.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.productDetails.$error.minlength" translate="entity.validation.minlength" translate-value-min="50">
                    This field is required to be at least 50 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.productDetails.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25000">
                    This field cannot be longer than 25000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.product.currentRating" for="field_currentRating">CurrentRating</label>
            <input type="number" class="form-control" name="currentRating" id="field_currentRating"
                    ng-model="product.currentRating"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.product.karmaPoints" for="field_karmaPoints">KarmaPoints</label>
            <input type="number" class="form-control" name="karmaPoints" id="field_karmaPoints"
                    ng-model="product.karmaPoints"
                    >
        </div>

        <div class="form-group">
            <label translate="karrmicApp.product.category" for="field_category">category</label>
            <select class="form-control" id="field_category" name="category" ng-model="product.category" ng-options="category as category.id for category in categorys track by category.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.product.pricing" for="field_pricing">pricing</label>
            <select class="form-control" id="field_pricing" name="pricing" ng-model="product.pricing" ng-options="pricing as pricing.id for pricing in pricings | orderBy:'id' track by pricing.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.product.seller" for="field_seller">seller</label>
            <select class="form-control" id="field_seller" name="seller" ng-model="product.seller" ng-options="seller as seller.id for seller in sellers track by seller.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
