
<div>
    <h2><span translate="karrmicApp.shopper.detail.title">Shopper</span> {{shopper.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.shopper.fullname">Fullname</span>
                </td>
                <td>
                    <span class="form-control-static">{{shopper.fullname}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.shopper.emailAddress">EmailAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{shopper.emailAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.shopper.registerDate">RegisterDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{shopper.registerDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.shopper.isActive">IsActive</span>
                </td>
                <td>
                    <span class="form-control-static">{{shopper.isActive}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.shopper.karmaPoints">KarmaPoints</span>
                </td>
                <td>
                    <span class="form-control-static">{{shopper.karmaPoints}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.shopper.address">address</span>
                </td>
                <td>
                    <span ng-repeat="address in shopper.addresss">
                        <a class="form-control-static" ui-sref="address.detail({id: {{address.id}}})">{{address.id}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.shopper.contactInfo">contactInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="contactInfo.detail({id:shopper.contactInfo.id})">{{shopper.contactInfo.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
