
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myShopperLabel" translate="karrmicApp.shopper.home.createOrEditLabel">Create or edit a Shopper</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="shopper.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.shopper.fullname" for="field_fullname">Fullname</label>
            <input type="text" class="form-control" name="fullname" id="field_fullname"
                    ng-model="shopper.fullname"
                    required ng-minlength="3">
            <div ng-show="editForm.fullname.$invalid">
                <p class="help-block"
                    ng-show="editForm.fullname.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fullname.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.shopper.emailAddress" for="field_emailAddress">EmailAddress</label>
            <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                    ng-model="shopper.emailAddress"
                    required>
            <div ng-show="editForm.emailAddress.$invalid">
                <p class="help-block"
                    ng-show="editForm.emailAddress.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.shopper.registerDate" for="field_registerDate">RegisterDate</label>
            <input type="datetime-local" class="form-control" name="registerDate" id="field_registerDate"
                    ng-model="shopper.registerDate" ng-model-options="{timezone: 'UTC'}"
                    required>
            <div ng-show="editForm.registerDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.registerDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.registerDate.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.shopper.isActive" for="field_isActive">IsActive</label>
            <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                    ng-model="shopper.isActive"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.shopper.karmaPoints" for="field_karmaPoints">KarmaPoints</label>
            <input type="number" class="form-control" name="karmaPoints" id="field_karmaPoints"
                    ng-model="shopper.karmaPoints"
                    >
        </div>

        <div class="form-group">
            <label translate="karrmicApp.shopper.address" for="field_address">address</label>
            <select class="form-control" id="field_address" multiple name="address" ng-model="shopper.addresss" ng-options="address as address.id for address in addresss track by address.id"></select>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.shopper.contactInfo" for="field_contactInfo">contactInfo</label>
            <select class="form-control" id="field_contactInfo" name="contactInfo" ng-model="shopper.contactInfo" ng-options="contactInfo as contactInfo.id for contactInfo in contactinfos | orderBy:'id' track by contactInfo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
