
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCategoryLabel" translate="karrmicApp.category.home.createOrEditLabel">Create or edit a Category</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="category.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.category.categoryName" for="field_categoryName">CategoryName</label>
            <input type="text" class="form-control" name="categoryName" id="field_categoryName"
                    ng-model="category.categoryName"
                    required ng-minlength="2" ng-maxlength="100">
            <div ng-show="editForm.categoryName.$invalid">
                <p class="help-block"
                    ng-show="editForm.categoryName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.categoryName.$error.minlength" translate="entity.validation.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.categoryName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.category.categoryInfo" for="field_categoryInfo">CategoryInfo</label>
            <input type="text" class="form-control" name="categoryInfo" id="field_categoryInfo"
                    ng-model="category.categoryInfo"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.category.hotness" for="field_hotness">Hotness</label>
            <input type="number" class="form-control" name="hotness" id="field_hotness"
                    ng-model="category.hotness"
                    >
        </div>

        <div class="form-group">
            <label translate="karrmicApp.category.parentCategory" for="field_parentCategory">parentCategory</label>
            <select class="form-control" id="field_parentCategory" name="parentCategory" ng-model="category.parentCategory" ng-options="category as category.id for category in categorys track by category.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
