
<div>
    <h2><span translate="karrmicApp.category.detail.title">Category</span> {{category.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.category.categoryName">CategoryName</span>
                </td>
                <td>
                    <span class="form-control-static">{{category.categoryName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.category.categoryInfo">CategoryInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{category.categoryInfo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.category.hotness">Hotness</span>
                </td>
                <td>
                    <span class="form-control-static">{{category.hotness}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.category.parentCategory">parentCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="category.detail({id:category.parentCategory.id})">{{category.parentCategory.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
