
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myReviewLabel" translate="karrmicApp.review.home.createOrEditLabel">Create or edit a Review</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="review.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.review.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="review.title"
                    required ng-minlength="1" ng-maxlength="100">
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.review.reviewDetails" for="field_reviewDetails">ReviewDetails</label>
            <input type="text" class="form-control" name="reviewDetails" id="field_reviewDetails"
                    ng-model="review.reviewDetails"
                    required ng-maxlength="5000">
            <div ng-show="editForm.reviewDetails.$invalid">
                <p class="help-block"
                    ng-show="editForm.reviewDetails.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.reviewDetails.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="5000">
                    This field cannot be longer than 5000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.review.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                    ng-model="review.rating"
                    required min="0">
            <div ng-show="editForm.rating.$invalid">
                <p class="help-block"
                    ng-show="editForm.rating.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rating.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.rating.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.review.dateCreated" for="field_dateCreated">DateCreated</label>
            <input type="datetime-local" class="form-control" name="dateCreated" id="field_dateCreated"
                    ng-model="review.dateCreated" ng-model-options="{timezone: 'UTC'}"
                    required>
            <div ng-show="editForm.dateCreated.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateCreated.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateCreated.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="karrmicApp.review.shopper" for="field_shopper">shopper</label>
            <select class="form-control" id="field_shopper" name="shopper" ng-model="review.shopper" ng-options="shopper as shopper.id for shopper in shoppers track by shopper.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.review.product" for="field_product">product</label>
            <select class="form-control" id="field_product" name="product" ng-model="review.product" ng-options="product as product.id for product in products track by product.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
