
<div>
    <h2><span translate="karrmicApp.review.detail.title">Review</span> {{review.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.review.title">Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{review.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.review.reviewDetails">ReviewDetails</span>
                </td>
                <td>
                    <span class="form-control-static">{{review.reviewDetails}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.review.rating">Rating</span>
                </td>
                <td>
                    <span class="form-control-static">{{review.rating}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.review.dateCreated">DateCreated</span>
                </td>
                <td>
                    <span class="form-control-static">{{review.dateCreated}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.review.shopper">shopper</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="shopper.detail({id:review.shopper.id})">{{review.shopper.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.review.product">product</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="product.detail({id:review.product.id})">{{review.product.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
