<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Payment Demo - Stripe</title>
	<link th:href="@{/css/datatables.min.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<!-- Bootstrap -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>
<body>
<div class="body-content" style="align: center">
<!--  Menu Code Start -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/mypaymenthome}">Demo Logo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Stripe Integration Demo <span class="sr-only">(current)</span></a></li>
        <li><a th:href="@{/paypaldemo}">Paypal Demo</a></li>
        <li><a th:href="@{/seller/registration}">Seller Registration</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--  Menu Code END -->
	<div class="pageHeader">
		<h3>Stripe Payment Demo</h3>
	</div>
	<div style="width:50%; margin-left: 100px; " >
	<form action="processStripPayment" method="post" role="form" data-toggle="validator" id="payment-form">
		<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
		<input type="hidden" name="object" id="object" value="card" />
		<div class="form-group">
			<label for="description">Payment Description</label>
			<input type="text" name="description" id="description" placeholder="Payment Description" maxlength="25" size="50" class="form-control" required="required" value="Test Payment" />
			<div class="help-block with-errors"></div> 
		</div>
		<div class="form-group">
			<label for="name">Card holder Name</label>
			<input type="text" name="name" id="name" placeholder="Card holder Name" maxlength="25" size="50" class="form-control" required="required" value="Vishal Z" />
			<div class="help-block with-errors"></div> 
		</div>
		<div class="form-group">
			<label for="username">Credit Card Number</label>
			<input type="number" name="number" id="number"  data-stripe="number" placeholder="Credit Card Number" maxlength="25" size="50" class="form-control" required="required" value="4242424242424242" />
			<div class="help-block with-errors"></div> 
		</div>
		<div class="row">
  			<div class="col-md-3">
				<div class="form-group">
					<label for="exp_month">Expiry Month</label>
					<select name="exp_month" id="exp_month" required="required" class="form-control" data-stripe="exp-month">
						<option value="">-- Please select --</option>
						<option value="0">January</option>
						<option value="1">February</option>
						<option value="2">March</option>
						<option value="3" selected="selected">April</option>
						<option value="4">May</option>
						<option value="5">June</option>
						<option value="6">July</option>
						<option value="7">August</option>
						<option value="8">September</option>
						<option value="9">October</option>
						<option value="10">November</option>
						<option value="11">December</option>
					</select>
					<div class="help-block with-errors"></div> 
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="exp_year">Expiry Year</label>
					<input type="number"  data-stripe="exp-year" name="exp_year" id="exp_year" placeholder="Expiry Year" maxlength="4" size="50" class="form-control" required="required" min="2016"  max="2050" value="2018" />
					<div class="help-block with-errors"></div> 
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="cvc">CVC</label>
					<input type="text" name="cvc" id="cvc" placeholder="CVC"  data-stripe="cvc" maxlength="3" size="10" class="form-control" required="required" value="123" />
					<div class="help-block with-errors"></div> 
				</div>
			</div>
		</div>
		<div class="row">
  			<div class="col-md-3">
				<div class="form-group">
					<label for="amount">Amount</label>
					<input type="number" name="amount" id="amount" placeholder="Amount" maxlength="4" size="10" class="form-control" required="required" value="5" min="2" max="5000" />
					<div class="help-block with-errors"></div> 
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="currency">Currency</label>
					<select name="currency" id="currency" required="required" class="form-control">
						<option value="usd" selected="selected">USD</option>
					</select>
					<div class="help-block with-errors"></div> 
				</div>
			</div>
		</div>
		<div class="row">
  			<div class="col-md-3">
				<div class="form-group">
					<label for="seller">Seller</label>
					<!-- <select name="seller" id="seller" required="required" class="form-control">
						<option value="-1" selected="selected">Select Seller</option>
					</select> -->
					
					<select name="seller" id="seller" required="required" class="form-control">
					  <!-- <option th:each="type : ${allTypes}" 
					          th:value="${type}" 
					          th:text="#{${'seedstarter.type.' + type}}">Wireframe</option> -->
				          <option th:each="seller : ${sellers}" th:value="${seller.id}" th:text="${seller.fullName}">Wireframe</option>
					</select>
					
					<div class="help-block with-errors"></div> 
				</div>
			</div>
		</div>
		<div class="row">
  			<div class="col-md-3">
				<div class="form-group">
					<label for="app_fee">Application Fee (%) (Cents)</label>
					<input type="number" name="app_fee" id="app_fee" placeholder="Application Fee" class="form-control" required="required" value="5" min="2" max="100" />
					<div class="help-block with-errors"></div> 
				</div>
			</div>
		</div>
		
		
		<button type="submit" class="btn btn-primary">Pay using Stripe</button>
	</form>
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

 <script type="text/javascript">
// This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_Y7svTjSgUF0pVLkZ0g6UQhVp');
  function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');
  if (response.error) {
	    // Show the errors on the form
	    $form.find('.payment-errors').text(response.error.message);
	    $form.find('button').prop('disabled', false);
  } else {
	    // response contains id and card, which contains additional card details
	    var token = response.id;
	    // Insert the token into the form so it gets submitted to the server
	    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
	    // and submit
	    $form.get(0).submit();
  }
};
  
jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);
    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);
	var res = Stripe.card.createToken($form, stripeResponseHandler);
    // Prevent the form from submitting with the default action
    return false;
  });
});
  
</script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<hr />
<footer class="footer">
  <div style="margin-left:15px;">
	<p class="text-muted">&copy; Payment Demo 2015</p>
  </div>
</footer>
	<script src="@{/js/validator.min.js}"></script>
</body>
</html>