<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Payment Demo - Strip</title>
	
	<!-- <link rel="stylesheet" th:href="@{/messages/messages.css}" type="text/css" media="screen"></link> -->
	
	<link th:href="@{/css/datatables.min.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<!-- Bootstrap -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>
<body>
<div class="body-content" style="align: center">
<!--  Menu Code Start -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/mypaymenthome}">Demo Logo</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<!--  Menu Code END -->
	<div class="pageHeader">
		<h3>Payment Demo</h3>
	</div>
	<div style="width:50%; margin-left: 20px; " >
		<ul>
			<li><a th:href="@{/stripedemo}">Stripe Integration Demo</a></li>
			<li><a th:href="@{/paypaldemo}">Paypal Payment Demo</a></li>
			<li><a th:href="@{/seller/registration}">Seller Registration</a></li>
		</ul>
	</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<hr />
<footer class="footer">
  <div style="margin-left:15px;">
	<p class="text-muted">&copy; Payment Demo 2015</p>
  </div>
</footer>
	<script th:src="@{/js/validator.min.js}"></script>
</body>
</html>