<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Payment Demo - Stripe</title>
	<link th:href="@{/css/datatables.min.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<!-- Bootstrap -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" media="screen"></link>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
	<script th:inline="javascript" >
	
		//var clientToken = '${clientToken}';
		var clientToken = [[${clientToken}]];
		braintree.setup(clientToken, "dropin", {
			container : "payment-form"
		});
	</script>
</head>
<body>
<div class="body-content" style="align: center">
<!--  Menu Code Start -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/mypaymenthome}">Demo Logo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/stripedemo}">Stripe Integration Demo <span class="sr-only">(current)</span></a></li>
        <li class="active"><a th:href="@{/paypaldemo}">Paypal Demo</a></li>
        <li><a th:href="@{/seller/registration}">Seller Registration</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--  Menu Code END -->
	<div class="pageHeader">
		<h3>Paypal Payment Demo</h3>
	</div>
	<div style="width:50%; margin-left: 100px; " >
	<form action="checkout" method="post" role="form" data-toggle="validator">
		<div class="form-group">
			<label for="description">Paypal/Card Information</label>
			<div id="payment-form" style="border: 5px" ></div>
		</div>
		<hr>
		<div class="form-group">
			<label for="description">Enter Amount to Pay</label>
			<input type="number" name="amount" id="amount" placeholder="Amount" maxlength="4" size="50" class="form-control" required="required" value="5" max="9999" min="1" />
			<div class="help-block with-errors"></div> 
		</div>
		
		<button type="submit" class="btn btn-primary">Pay using Paypal</button>
	</form>
	</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<footer class="footer">
  <div style="margin-left:15px;">
	<p class="text-muted">&copy; Payment Demo 2015</p>
  </div>
</footer>
	<script th:src="@{/js/validator.min.js}"></script>
</body>
</html>