<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Welcome Page</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    </head>

    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />


        <div class="container">
            <h2>Welcome Page</h2>
			<nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Social Login integration</a>
                    </div>
                   
                </div>
            </nav>
            

          

            <p>
            <img th:src="${currentUserConnection.imageUrl}" width="32" height="32" />
             <p th:unless="${currentUserConnection == null}" >
                          Hi  <span th:text="${currentUserDisplayName}"/>,You are currently logged in with 
                          <b th:if="${currentUserConnection.providerId == 'facebook'}">Facebook</b>
                          <b th:if="${currentUserConnection.providerId == 'twitter'}">Twitter</b>
                           <b th:if="${currentUserConnection.providerId == 'google'}">Google</b>
                            </p>
                <form method="POST" th:action="@{/logout}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button>Logout</button>
                </form>
            </p>

            <div th:replace="fragments/exception :: errorInfo"/>

        </div><!-- /.container -->
    </body>
</html>