<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="app" class="no-js {{app.settings.layoutBoxed ? 'boxed' : ''}}">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Haggell: Where the world shops</title>
    <meta name="description" content="Haggell.com - Best website to buy wide range of products including Electronics, Books, Clothes, Accessories, Home furnishing  and much more.  Free Shipping."/>
    <meta name="keywords" content="buy,sell, electronics, books, clothes, baby accessories, phones, computers, organic, discount, free shipping, haggle" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <!-- Favicon -->

    <!-- Bower CSS -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    	<link rel='stylesheet' href='/bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
    	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    	<link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    	<link href="/bower_components/animate.css/animate.min.css" rel="stylesheet" type="text/css" />
    <!-- endbower -->
    <!-- endbuild -->


    <!-- App Css -->
    <!-- build:css(.tmp) styles/main.css -->
    	<link href="/css/material-icons.css" rel="stylesheet" type="text/css" />
    	<link rel="stylesheet" href="/css/app.css"/>
    <!-- endbuild -->



</head>

<body ng-controller="AppCtrl" class="{{app.settings.layoutBoxed ? 'boxed' : ''}}">

	<div ui-view=""></div>

	<!-- JS Start -->

	<!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
   		<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
   		<script src="/bower_components/angular/angular.js"></script>
   		<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
		<script src="/bower_components/angular-touch/angular-touch.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/bower_components/angular-ui-utils/ui-utils.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="/bower_components/oclazyload/dist/ocLazyLoad.js"></script>
		<script type='text/javascript' src='/bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
		<script src="/bower_components/perfect-scrollbar/min/perfect-scrollbar.min.js" type="text/javascript"></script>
		<script src="/bower_components/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js" type="text/javascript"></script>
		<script src="/bower_components/angular-inview/angular-inview.js" type="text/javascript"></script>

    <!-- endbower -->
    <!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="/js/app.js"></script>
		<script src="/js/app.config.js"></script>
		<script src="/js/app.lazyload.js"></script>
		<script src="/js/app.router.js"></script>
		<script src="/js/app.main.js"></script>
		<script src="/js/services/ui-load.js"></script>
		<script src="/js/filters/moment-fromNow.js"></script>
		<script src="/js/directives/nganimate.js"></script>
		<script src="/js/directives/ui-jq.js"></script>
		<script src="/js/directives/ui-module.js"></script>
		<script src="/js/directives/ui-nav.js"></script>
		<script src="/js/directives/ui-bootstrap.js"></script>

		<script src="/js/directives/ui-sectionbox.js"></script>
		<script src="/js/controllers/bootstrap.js"></script>
		<script src="/js/controllers/topbar.js"></script>

    <!-- endbuild -->







<!--
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70881760-1', 'auto');
    ga('send', 'pageview');

</script>
 -->
	<!-- //JS End -->
</body>

</html>
