
<div>
    <h2><span translate="karrmicApp.images.detail.title">Images</span> {{images.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.images.imageType">ImageType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'karrmicApp.ImageType.' + images.imageType}}">{{images.imageType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.images.imagePath">ImagePath</span>
                </td>
                <td>
                    <span class="form-control-static">{{images.imagePath}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.images.imageCategory">ImageCategory</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'karrmicApp.ImageCategory.' + images.imageCategory}}">{{images.imageCategory}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.images.categoryId">CategoryId</span>
                </td>
                <td>
                    <span class="form-control-static">{{images.categoryId}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
