
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myImagesLabel" translate="karrmicApp.images.home.createOrEditLabel">Create or edit a Images</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="images.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.images.imageType" for="field_imageType">ImageType</label>
            <select class="form-control" name="imageType" ng-model="images.imageType" id="field_imageType" required>
                <option value="thumbnail" translate="karrmicApp.ImageType.thumbnail">thumbnail</option>
                <option value="smallpic" translate="karrmicApp.ImageType.smallpic">smallpic</option>
                <option value="largepic" translate="karrmicApp.ImageType.largepic">largepic</option>
                <option value="hover" translate="karrmicApp.ImageType.hover">hover</option>
                <option value="gallery" translate="karrmicApp.ImageType.gallery">gallery</option>
            </select>
            <div ng-show="editForm.imageType.$invalid">
                <p class="help-block"
                    ng-show="editForm.imageType.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.images.imagePath" for="field_imagePath">ImagePath</label>
            <input type="text" class="form-control" name="imagePath" id="field_imagePath"
                    ng-model="images.imagePath"
                    required>
            <div ng-show="editForm.imagePath.$invalid">
                <p class="help-block"
                    ng-show="editForm.imagePath.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.images.imageCategory" for="field_imageCategory">ImageCategory</label>
            <select class="form-control" name="imageCategory" ng-model="images.imageCategory" id="field_imageCategory" required>
                <option value="product" translate="karrmicApp.ImageCategory.product">product</option>
                <option value="seller" translate="karrmicApp.ImageCategory.seller">seller</option>
                <option value="shopper" translate="karrmicApp.ImageCategory.shopper">shopper</option>
                <option value="category" translate="karrmicApp.ImageCategory.category">category</option>
                <option value="gallery" translate="karrmicApp.ImageCategory.gallery">gallery</option>
            </select>
            <div ng-show="editForm.imageCategory.$invalid">
                <p class="help-block"
                    ng-show="editForm.imageCategory.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.images.categoryId" for="field_categoryId">CategoryId</label>
            <input type="number" class="form-control" name="categoryId" id="field_categoryId"
                    ng-model="images.categoryId"
                    required>
            <div ng-show="editForm.categoryId.$invalid">
                <p class="help-block"
                    ng-show="editForm.categoryId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.categoryId.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
