
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Registration : Seller</title>
	
	<!-- Bootstrap -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="screen"></link>
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet"></link>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	
	<!-- <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="screen"></link> -->
	<link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" media="screen"></link>
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    
</head>
<body>

<div class="alert alert-success" th:if="${success != null}">
  	<strong>Success! </strong> <p th:text="${success}"></p>
</div>

<div class="alert alert-danger" th:if="${error != null}">
  	<strong>Error! </strong> <p th:text="${error}"></p>
</div>

<div class="body-content" style="align: center">
<!--  Menu Code Start -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/mypaymenthome}" >Demo Logo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/stripedemo}">Stripe Integration Demo</a></li>
		<li><a th:href="@{/paypaldemo}">Paypal Payment Demo</a></li>
		<li class="active"><a href="#">Seller Registration</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--  Menu Code END -->
	<div class="pageHeader">
		<h3>Stripe Payment Demo</h3>
	</div>
	<div style="width:50%; margin-left: 100px; " >
	<form action="" method="post" role="form" data-toggle="validator">
		<input type="hidden" name="_csrf" th:value="${_csrf.token}" />  
		<input type="hidden" name="object" id="object" value="card" />
		<div class="form-group">
			<label for="fullName">Full Name</label>
			<input type="text" name="fullName" id="fullName" placeholder="Full Name" maxlength="25" size="50" class="form-control" required="required" />
			<div class="help-block with-errors"></div> 
		</div>
		<div class="form-group">
			<label for="emailAddress">Email Address</label>
			<input type="text" name="emailAddress" id="emailAddress" placeholder="Email Address" maxlength="50" size="50" class="form-control" required="required" />
			<div class="help-block with-errors"></div> 
		</div>
		<div class="form-group">
			<label for="registerDate">Register Date</label>
             <div class='input-group date' id='datetimepicker-div'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
               </div>
			<div class="help-block with-errors"></div> 
		</div>
		<button type="submit" class="btn btn-primary">Registration</button>
	</form>
	</div>
</div>
 <script type="text/javascript">
  $('#datetimepicker-div').datetimepicker({
                 format: 'L'
             });
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) 
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>-->

<!-- Include all compiled plugins (below), or include individual files as needed
<script th:src="@{/js/bootstrap.min.js}"></script>-->
<hr />
<footer class="footer">
  <div style="margin-left:15px;">
	<p class="text-muted">&copy; Payment Demo 2015</p>
  </div>
</footer>
	<script th:src="@{/js/validator.min.js}"></script>
</body>
</html>