
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPricingLabel" translate="karrmicApp.pricing.home.createOrEditLabel">Create or edit a Pricing</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pricing.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.pricing.originalPrice" for="field_originalPrice">OriginalPrice</label>
            <input type="number" class="form-control" name="originalPrice" id="field_originalPrice"
                    ng-model="pricing.originalPrice"
                    required min="0">
            <div ng-show="editForm.originalPrice.$invalid">
                <p class="help-block"
                    ng-show="editForm.originalPrice.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.originalPrice.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.originalPrice.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.pricing.currentPrice" for="field_currentPrice">CurrentPrice</label>
            <input type="number" class="form-control" name="currentPrice" id="field_currentPrice"
                    ng-model="pricing.currentPrice"
                    required min="0">
            <div ng-show="editForm.currentPrice.$invalid">
                <p class="help-block"
                    ng-show="editForm.currentPrice.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.currentPrice.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.currentPrice.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.pricing.pricingType" for="field_pricingType">PricingType</label>
            <select class="form-control" name="pricingType" ng-model="pricing.pricingType" id="field_pricingType" required>
                <option value="NORMAL" translate="karrmicApp.PricingType.NORMAL">NORMAL</option>
                <option value="DISCOUNTED" translate="karrmicApp.PricingType.DISCOUNTED">DISCOUNTED</option>
            </select>
            <div ng-show="editForm.pricingType.$invalid">
                <p class="help-block"
                    ng-show="editForm.pricingType.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
