
<div>
    <h2><span translate="karrmicApp.pricing.detail.title">Pricing</span> {{pricing.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.pricing.originalPrice">OriginalPrice</span>
                </td>
                <td>
                    <span class="form-control-static">{{pricing.originalPrice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.pricing.currentPrice">CurrentPrice</span>
                </td>
                <td>
                    <span class="form-control-static">{{pricing.currentPrice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.pricing.pricingType">PricingType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'karrmicApp.PricingType.' + pricing.pricingType}}">{{pricing.pricingType}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
