<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard'; ">
    <section class="box nobox margin-top-15 margin-bottom-0">
        <div class="content-body">
            <div class="col-md-12 col-sm-12 col-xs-12 padding-right-30 padding-left-20">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            
                            <i class="material-icons icon-primary pull-left">account_balance</i>
                            <div class="stats">
                                <h3>990K</h3>
                                <span>Profit&nbsp;Gain</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            <i class="material-icons icon-primary pull-left">public</i>
                            <div class="stats">
                                <h3>99.9%</h3>
                                <span>Server&nbsp;Up</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            <i class="material-icons icon-primary pull-left">people</i>
                            <div class="stats">
                                <h3>3550</h3>
                                <span>Visitors</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            
                            <i class="material-icons icon-primary pull-left">store_mall_directory</i>
                            <div class="stats">
                                <h3>1240</h3>
                                <span>New&nbsp;Orders</span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Page Views / Unique Visitors</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-top-45">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
                        <div class="r1_maingraph db_box" ng-init="chartjs={show:'line'}">
                            <span class='pull-right switch'>
                              <i class=" {{chartjs.show == 'line' ? 'icon-default': 'icon-secondary'}} fa fa-line-chart icon-sm" ng-click="chartjs.show = 'line'"></i>&nbsp; &nbsp;
                              <i class=" {{chartjs.show == 'bar' ? 'icon-default': 'icon-secondary'}} fa fa-bar-chart icon-sm" ng-click="chartjs.show = 'bar'"></i>&nbsp; &nbsp;
                        </span>
                            <div class='graph-wrapper'>
                                <div class="col-md-12 col-sm-12 col-xs-12 padding-right-0 {{chartjs.show == 'bar' ? 'showit': 'hideit'}}" ng-controller="DashboardBarCtrl" style="overflow:hidden;">
                                    <canvas id="bar" class="chart chart-bar" data="data" labels="labels" options="options" colours="colours" style="width: 100% !important;height: 230px"></canvas>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 padding-right-0 {{chartjs.show == 'line' ? 'showit': 'hideit'}}" ng-controller="DashboardLineCtrl" style="overflow:hidden;">
                                    <canvas id="line" class="chart chart-line" data="data" labels="labels" options="options" legend="false" series="series" click="onClick" colours="colours" style="width: 100% !important;height: 230px">
                                    </canvas>
                                </div>
                                <!-- <div class="col-md-12 col-sm-12 col-xs-12 {{chartjs.show == 'radar' ? 'showit': 'hideit'}}" ng-controller="DashboardRadarCtrl">
                                    <canvas id="radar" class="chart chart-radar" data="data" labels="labels" colours="colours"></canvas>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">User Registered / Visited</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-top-45">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="r1_maingraph db_box" ng-init="chartjs={show:'line'}">
                            <div class='graph-wrapper'>
                                <div class="" ng-controller="DashboardRadarCtrl">
                                    <canvas id="radar" class="chart chart-radar" data="data" labels="labels" options="options" colours="colours"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Department Sales</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-top-45">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="r1_maingraph db_box" ng-init="chartjs={show:'line'}">
                            <div class='graph-wrapper'>
                                <div ng-controller="DashboardPolarAreaCtrl">
                                    <canvas id="polar-area" class="chart chart-polar-area" data="data" options="options" labels="labels" colours="colours"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Visitor's Statistics</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-top-45">
                <div class="">
                    <div class="">
                        <div class="wid-vectormap">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-12 padding-left-10">
                                    <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0" ng-controller="JVectorMapDemoCtrl">
                                        <div style="width: 100%; height: 300px;" ui-jq="vectorMap" ui-options="{            
                        map: 'world_mill_en',
                        markers: {{world_markers}},
                        normalizeFunction: 'polynomial',
                        zoomOnScroll: false,
                        scaleColors: ['#1fb5ac', '#1fb5ac'],
                        hoverOpacity: 0.7,
                        hoverColor: false,
                        regionsSelectable: true,
                        markersSelectable: true,
                        markersSelectableOne: true,
                        panOnDrag: true,

                        focusOn: {
                            x: 0.5,
                            y: 0.5,
                            scale: 1,
                            animate: true
                        },
                        regionStyle: {
                            initial: {
                                fill: '#FF6E40',
                                'fill-opacity': 0.8,
                                stroke: '#FF6E40',
                                'stroke-width': 0,
                                'stroke-opacity': 0
                            },
                            hover: {
                                fill: '{{app.color.orange}}',
                                'fill-opacity': 1,
                                cursor: 'pointer'
                            },
                            selected: {
                                fill: '{{app.color.orange}}'
                            },
                            selectedHover: {}
                        },
                        markerStyle: {
                            initial: {
                                fill: '#673AB7',
                                stroke: '#673AB7',
                                r: 6
                            },
                            hover: {
                                stroke: '{{app.color.warning}}',
                                'stroke-width': 2,
                                cursor: 'pointer'
                            },
                            selected: {
                                fill: '{{app.color.warning}}',
                                'stroke-width': 0,
                            },
                        },
                        backgroundColor: '',

          }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 map_progress">
                                    <h4>Unique Visitors</h4>
                                    <span class='text-muted'><small>Last Week Rise by 62%</small></span>
                                        
                                        <progressbar value="85" class="progress progress-sm primary"></progressbar>

                                    <br>
                                    <h4>Registrations</h4>
                                    <span class='text-muted'><small>Up by 57% last 7 days</small></span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%"></div>
                                    </div>
                                    <br>
                                    <h4>Direct Sales</h4>
                                    <span class='text-muted'><small>Last Month Rise by 22%</small></span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Project Report</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 wid-project-report">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                <div ui-jq="easyPieChart" ui-options="{
                      easing: 'easeOutBounce',
                      barColor: '{{app.color.primary}}',
                      trackColor: '#f5f5f5',
                      scaleColor: '#eaeaea',
                      lineCap: 'square',
                      lineWidth: 5,
                      size: 120,
                      animate: 1000,
                      percent: 66
                    }">
                                    <div>
                                        <span class="text-primary percent">66%</span>
                                    </div>
                                </div>
                                <h4 class="text-center margin-top-10 margin-bottom-10">Task Completed</h4>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                <div ui-jq="easyPieChart" ui-options="{
                      easing: 'easeOutBounce',
                      barColor: '{{app.color.orange}}',
                      trackColor: '#f5f5f5',
                      scaleColor: '#eaeaea',
                      lineCap: 'square',
                      lineWidth: 5,
                      size: 120,
                      animate: 1000,
                      percent: 45
                    }">
                                    <div>
                                        <span class="text-orange percent">45%</span>
                                    </div>
                                </div>
                                <h4 class="text-center margin-top-10 margin-bottom-10">Resources Used</h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <h4 class=" margin-top-10 margin-bottom-10">Tasks List</h4>
                        <perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" class='ps-project-tasks'>
                            <div class='task'><span class="label label-orange">09:30</span> &nbsp; Server Reboot & Updations Required</div>
                            <div class='task'><span class="label label-primary">11:30</span> &nbsp; Team Meetup & Planning Resources</div>
                            <div class='task'><span class="label label-orange">16:30</span> &nbsp; Finance Report Submission Gathering</div>
                            <div class='task'><span class="label label-orange">18:30</span> &nbsp; Daily Updates sticker to be posted</div>
                            <div class='task'><span class="label label-primary">19:30</span> &nbsp; New Products to be launced by tonite</div>
                            <div class='task'><span class="label label-orange">20:00</span> &nbsp; Services hosting order replanning</div>
                            <div class='task'><span class="label label-warning">21:00</span> &nbsp; Manage new clients list</div>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box nobox">
            <div class="r3_weather">
                <div class="bg-primary wid-weather-small">
                    <div class="today">
                        <div class="location">
                            <h3>Los Angeles, USA</h3>
                            <span>Today, 17<sup>th</sup> July 2015</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="degree">
                            <i class="material-icons icon-lg text-white">wb_cloudy</i><!-- 
                            <i class='fa fa-cloud icon-lg text-white'></i> --><span>Now</span>
                            <h3>24°</h3>
                            <div class="clearfix"></div>
                            <h4 class="text-white text-center">Hot & Sunny</h4>
                        </div>
                        <div class="clearfix"></div>
                                <div class="timings">
                                    <ul class="list-inline list-unstyled">
                                        <li><span class='time'>13:00</span><i class='fa fa-cloud icon-sm'></i>
                                            <h4 class='temp'>21°</h4></li>
                                        <li><span class='time'>15:00</span><i class='fa fa-cloud icon-sm'></i>
                                            <h4 class='temp'>22°</h4></li>
                                        <li><span class='time'>17:00</span><i class='fa fa-cloud icon-sm'></i>
                                            <h4 class='temp'>22°</h4></li>
                                        <li><span class='time'>19:00</span><i class='fa fa-cloud icon-sm'></i>
                                            <h4 class='temp'>20°</h4></li>
                                        <li class="hidden-md" style="border-right:none;"><span class='time'>21:00</span><i class='fa fa-cloud icon-sm'></i>
                                            <h4 class='temp'>18°</h4></li>
                                    </ul>
                                </div>


                        <div class="clearfix"></div>
                        <!-- <div class="weekdays bg-white">
                            <perfect-scrollbar class="ps-weathersmall-widget" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20">
                                <ul class="list-unstyled">
                                    <li><span class='day'>Sunday</span><i class='fa fa-cloud icon-xs'></i><span class='temp'>23° - 27°</span></li>
                                    <li><span class='day'>Monday</span><i class='fa fa-cloud icon-xs'></i><span class='temp'>21° - 26°</span></li>
                                    <li><span class='day'>Tuesday</span><i class='fa fa-cloud icon-xs'></i><span class='temp'>24° - 28°</span></li>
                                    <li><span class='day'>Wednesday</span><i class='fa fa-cloud icon-xs'></i><span class='temp'>25° - 26°</span></li>
                                    <li><span class='day'>Thursday</span><i class='fa fa-cloud icon-xs'></i><span class='temp'>22° - 25°</span></li>
                                    <li><span class='day'>Friday</span><i class='fa fa-cloud icon-xs'></i><span class='temp'>21° - 28°</span></li>
                                    <li><span class='day'>Satday</span><i class='fa fa-cloud icon-xs'></i><span class='temp'>23° - 29°</span></li>
                                </ul>
                            </perfect-scrollbar>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <section class="box nobox">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wid-sparkgraph bg-white">
                            <span class='bold'>28.95%</span>
                            <span class='pull-right'><small>Resources Used</small></span>
                            <div class="clearfix"></div>
                            <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2, 8, 3, 4, 5,8, 3, 10, 8, 5, 7, 4, 4, 7]" ui-jq="sparkline" ui-options="{{data2}}, {
                                type: 'bar',
                                barColor: '{{app.color.orange}}',
                                height: '60',
                                barWidth: '12',
                                barSpacing: 1,
                             }" class="sparkline inline">Loading...
                            </div>
                        </div>
                        <div class="wid-sparkgraph bg-white">
                            <span class='bold'>5312</span>
                            <span class='pull-right'><small>Orders Placed</small></span>
                            <div class="clearfix"></div>
                            <div ng-init="data1=[10, 8, 5, 7, 4, 4, 7, 5, 2, 8, 3, 4, 5]" ui-jq="sparkline" ui-options="{{data1}}, {
                                type: 'line',
                                width: '100%',
                                height: '60',
                                lineWidth: 2,
                                lineColor: '{{app.color.orange}}',
                                fillColor: '{{app.color.orange}}',
                                highlightSpotColor: '{{app.color.primary}}',
                                highlightLineColor: '{{app.color.primary}}',
                                spotRadius: 3,
                                }" class="sparkline inline">Loading...
                            </div>
                        </div>
                        <div class="wid-sparkgraph bg-white">
                            <span class='bold'>542/115</span>
                            <span class='pull-right'><small>Total / Unique visitors</small></span>
                            <div class="clearfix"></div>
                            <div ng-init="data4=[
                                [1, 2],
                                [2, 3],
                                [4, 2],
                                [4, 5],
                                [4, 1],
                                [6, 4],
                                [3, 2],
                                [3, 6],
                                [2, 2],
                                [6, 2],
                                [7, 4],
                                [3, 4],
                                [6, 4],
                                [3, 2],
                                [3, 6],
                                [2, 2],
                                [6, 2],
                                [2, 2],
                                [6, 2],
                                [7, 4],
                                [3, 4],
                                [3, 7]
                            ]" ui-jq="sparkline" ui-options="{{data4}}, {
                                type: 'bar',
                                barColor: '{{app.color.warning}}',
                                height: '60',
                                barWidth: '12',
                                barSpacing: 1,
                                zeroAxis: true,
                                negBarColor: '{{app.color.primary}}',
                                zeroColor: '{{app.color.orange}}',
                                stackedBarColor: ['{{app.color.warning}}', '{{app.color.primary}}'],
                                }" class="sparkline inline">Loading...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>
   
    <div class="clearfix"></div> -->
</div>
