

<div class='content-wrapper' ng-init="app.settings.pagetitle = 'File Uploader';">
    <div class="col-lg-12" ng-controller="CategoryUploadCtrl" nv-file-drop="" uploader="uploader"
         filters="queueLimit, customFilter">
        <section class="nobox box ">
            <div class="content-body">
            		
           		<!-- Message -->
           		<div class="row" data-ng-if="message != false">
           			<div class="com-md-12 text-center alert {{messageClass}}">
           				{{message}}
           			</div>
           		</div>
           		
           		<!-- Form -->
           		
           		<!-- Data block -->
                <div class="row">

                        <div class="form-group">

                            <label class="col-sm-3 control-label">Category Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="categoryName" id="field_categoryName"
                                       ng-model="category.categoryName"
                                       required ng-minlength="2" ng-maxlength="100">
                            </div>
                        </div>

                </div>

                <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Category Info</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="categoryInfo" id="field_categoryInfo"
                                       ng-model="category.categoryInfo">
                            </div>
                        </div>
                </div>

                <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Parent Category</label>
                            <div class="col-sm-6">
                            	<!-- ng-options="category as category.id for category in categorys track by category.id" -->
                                <select class="form-control" id="field_parentCategory" name="parentCategory" ng-model="category.parentCategory" >
                                    <option data-ng-repeat="(key,value) in categoryList" value="{{value.id}}">#{{value.id}} {{value.categoryName}} ( {{value.categoryInfo}} )</option>
                                </select>
                            </div>
                        </div>
                </div>


				<!-- Image uploader -->
                <div class="row">
                    <div class="col-md-3">
                          <input type="file" nv-file-select="" uploader="uploader" multiple/>
                    </div>
                    
                    <div class="col-md-9" style="margin-bottom: 40px">
						
                        <p>Queue length: {{ uploader.queue.length }}</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="upl">
                            <tr  ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar"
                                             ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                            ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <div>
                            	
                                Queue progress:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                                    ng-disabled="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
                                    ng-disabled="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                                    ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                </div>
                
                <!-- Submit -->
                <div class="row">
                	<div class="col-2">
                		<button type="button" class="btn btn-danger btn-s" data-ng-click="saveCategory()">
                			Save
               			</button>
                	</div>
                </div>
            </div>
        </section>
    </div>
</div>


