<style>.space20{height:20px;}select{border:1px solid silver;height:42px;}</style>

<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>



<!-- CSS -->
<link rel="stylesheet" href="assets/js/vendors/isotope/isotope.css">
<link rel="stylesheet" href="assets/js/vendors/slick/slick.css">
<link rel="stylesheet" href="assets/js/vendors/rs-plugin/css/settings.css">
<link rel="stylesheet" href="assets/js/vendors/select/jquery.selectBoxIt.css">
<link rel="stylesheet" href="assets/css/subscribe-better.css">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="assets/css/style.css">

<div class="body">
	<div class="space20"></div>
    <!-- MAIN CONTENT -->
    <div class="shop-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-smm-12">
                    <div class="redirect-login">
                        <i class="fa fa-edit"></i> &nbsp; &nbsp; <span> Returning customer? </span>
                        &nbsp; &nbsp;<a class="showlogin" data-toggle="modal" href="#login_modal" onclick="return false">Click here to login</a>
                    </div>
                </div>

                <!--<div class="col-md-12 col-smm-12">-->
                    <!--<div class="redirect-login">-->
                        <!--<i class="fa fa-edit"></i> &nbsp; &nbsp; <span> Have a coupon? </span>-->
                        <!--&nbsp; &nbsp;<a class="showlogin"  data-toggle="modal" href="#coupon-code" onclick="return false">Click here to enter your code</a>-->
                    <!--</div>-->
                <!--</div>-->


                <div class="col-md-9 col-sm-8">
                    <!-- HTML -->
                    <div>
                        <h4 class="account-title"><span class="fa fa-chevron-right"></span>Checkout Method</h4>
                        <div class="account-form">
                            <form id="shipping-zip-form">
                                <ul class="form-list row">
                                    <li class="col-md-12 col-sm-12">
                                        <label>Country <em>*</em></label>
                                        <select required class="selectboxit-container selectboxit form-list">
                                            <option value="">Country 1</option>
                                            <option value="1">Country 2</option>
                                            <option value="2">Country 3</option>
                                        </select>
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label>First Name <em>*</em></label>
                                        <input type="text" class="input-text" required>
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label>Last Name <em>*</em></label>
                                        <input type="text" class="input-text" required>
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label >Address 1 <em>*</em></label>
                                        <input required type="text" class="input-text">
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label >Address 2</label>
                                        <input type="text" class="input-text">
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label >Company Name</label>
                                        <input type="text" class="input-text">
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label>City</label>
                                        <select class="selectboxit-container selectboxit form-list">
                                            <option>City 1</option>
                                            <option>City 2</option>
                                            <option>City 3</option>
                                        </select>
                                    </li>
                                    <li class="clearfix"></li>
                                    <li class="col-md-6 col-sm-6">
                                        <label>State</label>
                                        <select class="selectboxit-container selectboxit form-list">
                                            <option>State 1</option>
                                            <option>State 2</option>
                                            <option>State 3</option>
                                        </select>
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label >Zip/Postal Code <em>*</em></label>
                                        <input required type="text" class="input-text">
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label >Email <em>*</em></label>
                                        <input required type="text" class="input-text">
                                    </li>
                                    <li class="col-md-6 col-sm-6">
                                        <label >Phone Number <em>*</em></label>
                                        <input required type="text" class="input-text">
                                    </li>
                                    <li class="col-md-12 col-sm-12">
                                        <input id="create-act" type="checkbox" class="input-chkbox">
                                        <label> Create an account?</label>
                                    </li>
                                    <li class="col-md-12 col-sm-12 create-account">
                                        <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                        <label > Account password <em>*</em></label>
                                        <input required type="text" class="input-text">
                                    </li>
                                    <li class="col-md-12 col-sm-12">
                                        <input id="diff-address" type="checkbox" class="input-chkbox">
                                        <label> Ship to a different address?</label>
                                    </li>
                                    <li class="col-md-12 col-sm-12 shipping-address">
                                        <ul class="form-list row">
                                            <li class="col-md-12 col-sm-12">
                                                <label>Country <em>*</em></label>
												<select required class="selectboxit-container selectboxit form-list">
													<option value="">Country 1</option>
													<option value="1">Country 2</option>
													<option value="2">Country 3</option>
												</select>
											</li>
                                            <li class="col-md-6 col-sm-6">
                                                <label>First Name <em>*</em></label>
                                                <input type="text" class="input-text" required>
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label>Last Name <em>*</em></label>
                                                <input type="text" class="input-text" required>
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Address 1 <em>*</em></label>
                                                <input required type="text" class="input-text">
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Address 2</label>
                                                <input type="text" class="input-text">
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Company Name</label>
                                                <input type="text" class="input-text">
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label>City</label>
                                                <select class="selectboxit-container selectboxit form-list">
                                                    <option>City 1</option>
                                                    <option>City 2</option>
                                                    <option>City 3</option>
                                                </select>
                                            </li>
                                            <li class="clearfix"></li>
                                            <li class="col-md-6 col-sm-6">
                                                <label>State</label>
                                                <select class="selectboxit-container selectboxit form-list">
                                                    <option>State 1</option>
                                                    <option>State 2</option>
                                                    <option>State 3</option>
                                                </select>
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Zip/Postal Code <em>*</em></label>
                                                <input required type="text" class="input-text">
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-12 col-sm-12 transfer-wrap">


                                        <p>
                                            <input id="paypal-transfer" type="radio" name="optradio" class="input-chkbox">
                                            <label class="pay-pal"> PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png">
                                                <a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup', 'WIPaypal', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700');
                                                        return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                                            </label>
                                        </p>
                                        <div id="paypal-transfer-msg" class="transfer-guide">
                                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="buttons-set">
                                    <button class="btn-black" type="submit">Place Order</button>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="side-widget space50">
                        <h3> <span> Your order </span></h3>
                        <div>
                            <table class="cart-table" ng-controller="CheckoutCtrl">
                                <tbody></tbody>
                                <tr>
                                    <td>
                                        <div class="item-img col-md-5 col-sm-5">
                                            <a href="#"><img ng-src="{{checkout[0].image}}" class="img-responsive"></a>
                                        </div>
                                        <div class="item-info col-md-7 col-sm-7">
                                            <h4>{{checkout[0].product_name}}</h4>
                                            <p>{{checkout[0].count}}</p>
                                            <p>Size:{{checkout[0].size}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#"> <i class="fa fa-trash-o"></i> </a>
                                    </td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <th>Cart Subtotal</th>
                                        <td>
                                            <div class="">$ {{checkout[0].cart_subtotal}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Shipping and Handling</th>
                                        <td>
                                            <div class="">{{checkout[0].shipping_and_handling}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Order Total</th>
                                        <td>
                                            <div class="">$ {{checkout[0].order_total}}</div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix space20"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <div class="row">

                <div class="col-md-7">
                    <div class="product-single">
                        <div class="ps-header">
                            <span class="badge offer">-50%</span>
                            <h3>Product fashion</h3>
                            <div class="ratings-wrap">
                                <div class="ratings">
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                </div>
                                <em>(6 reviews)</em>
                            </div>
                            <div class="ps-price"><span>$ 200.00</span> $ 99.00</div>
                        </div>

                        <div class="ps-stock">
                            Available: <a href="#">In Stock</a>
                        </div>
                        <div class="sep"></div>
                        <div class="ps-color">
                            <p>Color<span>*</span></p>
                            <a class="black" href="#" onclick="return false;"></a>
                            <a class="red" href="#" onclick="return false;"></a>
                            <a class="yellow" href="#" onclick="return false;"></a>
                            <a class="darkgrey" href="#" onclick="return false;"></a>
                            <a class="litebrown" href="#" onclick="return false;"></a>
                        </div>
                        <div class="space10"></div>
                        <div class="row select-wraps">
                            <div class="col-md-7">
                                <p>Size<span>*</span></p>
                                <select class="selectboxit-container selectboxit form-list">
                                    <option>XL</option>
                                    <option>XXL</option>
                                    <option>XXXL</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <p>Quantity<span>*</span></p>
                                <select class="selectboxit-container selectboxit form-list">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="space20"></div>
                        <div class="share">
                            <span>
                                <a href="#" class="fa fa-heart-o" onclick="return false;"></a>
                                <a href="#" class="fa fa-signal" onclick="return false;"></a>
                                <a href="#" class="fa fa-envelope-o" onclick="return false;"></a>
                            </span>
                            <div class="addthis_native_toolbox"></div>
                        </div>
                        <div class="space20"></div>
                        <div class="sep"></div>
                        <a class="btn-color" href="#">Add to Bag</a>
                        <a class="btn-black" href="#">Go to Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="backtotop"><i class="fa fa-chevron-up"></i></div>

<!-- ============================== COUPON CODE MODAL ===================================== -->
<div class="modal fade" id="coupon-code" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <form class="shipping-info-wrap" id="discount-coupon-form">
                            <div class="discount">
                                <h2>Discount Codes</h2>
                                <div class="form-list">
                                    <label for="coupon_code">Enter your coupon code if you have one.</label>
                                    <input type="hidden" value="0" id="remove-coupone" name="remove">
                                    <div class="input-box">
                                        <input value="" name="coupon_code" id="coupon_code" class="input-text">
                                    </div>
                                    <div class="buttons-set">
                                        <button class="btn-black" title="Apply Coupon" type="button"><span><span>Apply Coupon</span></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================== COUPON CODE MODAL ===================================== -->
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <form class="shipping-info-wrap" id="discount-coupon-form">
                            <div class="discount">
                                <h2>Discount Codes</h2>
                                <div class="form-list">
                                    <label for="coupon_code">Enter your coupon code if you have one.</label>
                                    <input type="hidden" value="0" id="remove-coupone" name="remove">
                                    <div class="input-box">
                                        <input value="" name="coupon_code" id="coupon_code" class="input-text">
                                    </div>
                                    <div class="buttons-set">
                                        <button class="btn-black" title="Apply Coupon" type="button"><span><span>Apply Coupon</span></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ADDTHIS -->
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-557a95e76b3e51d9" async="async"></script>
<script type="text/javascript">
	// Call this function once the rest of the document is loaded
	function loadAddThis() {
		addthis.init()
	}
</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bs-navbar.js"></script>
<script src="assets/js/vendors/isotope/isotope.pkgd.js"></script>
<script src="assets/js/vendors/slick/slick.min.js"></script>
<script src="assets/js/vendors/tweets/tweecool.min.js"></script>
<script src="assets/js/vendors/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/vendors/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/jquery.subscribe-better.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="assets/js/main.js"></script>

<style>
.modal-backdrop{
	z-index:100!important;
}
</style>

