<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css">

<section ng-app='myApp' ng-controller='ProductsController' infinite-scroll='loadMore()' infinite-scroll-distance='2'>

	<!-- Header section -->
	<div class="header-wrapper col-md-12">

		<div class="header-top container">

			<div class="logo-wrapper col-md-2">
				<img src="img/logo.png">					
			</div>

			<div class="search-wrapper col-md-7">
				<input type="text" class=" form-control " placeholder="I'm shopping for...">
				<select class="categoris form-control">
					<option>All categories</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
				<button class="form-control search-button"><span class="search-icon glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</div>

			<div class="icons-wrapper col-md-3">

					<div class="col-md-4 cart">							
						<div class="col-md-5">
							<a class="icon" href="#"><i class="fa fa-shopping-cart"></i></a>
						</div>

						<div class="col-md-7">
							<span class="icons-text" >Cart</span>
						</div>
					</div>

					<div class="col-md-4 wish-list">
						<div class="col-md-5">
							<a class="icon" href="#"><i class="fa fa-heart-o"></i></a>
						</div>
						<div class="col-md-7">
							<span>Wish List</span>
						</div>
					</div>

					<div class="col-md-4 sign-in">

						<div class="col-md-5">
							<a class="icon" href="#" ><i class="fa fa-user"></i></a>
						</div>

						<div class="col-md-7">
							<span>Sing In</span>
						</div>

					</div>
				
			</div>

		</div>

		<hr class="header-line">

		<div class="header-bottom container">

			<ul class="navigation-menu">

				<li><a ng-repeat='menu in menues' class="menu" href="{{menu.href}}">{{menu.name}}</a></li>

			</ul>

		</div>			

	</div>
	<!-- end Header section -->

	<!-- Content -->
	<div class="col-md-12 content">

		<!-- Basic section -->
		<div class="basic-section container">

			<div class="col-md-8" style="padding:0">

				  <div id="myCarousel" class="carousel slide" data-ride="carousel">
				    <!-- Indicators -->
				    <ol class="carousel-indicators">
				      <li ng-repeat='slide in basic_slider' data-target="#myCarousel" data-slide-to="{{slide.id}}" class="{{slide.active}}"></li>
				    </ol>

				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">

				      <div ng-repeat='slide in basic_slider' class="item {{slide.active}}">
				        <img ng-src="{{slide.image_src}}" style='width:100%' height="345">
				      </div>
				  
				    </div>

				    <!-- Left and right controls -->
				    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				      <span class="sr-only">Next</span>
				    </a>
				  </div>

			</div>

			<div class="col-md-4">
				<img src="img/shopping.jpg" style=" width: 100%; height: auto;">
			</div>

		</div>
		<!-- end Basic Section -->

		<div class="space40"></div>

		<!-- Two section -->
		<div class="two-section container">

			<div class="col-md-8 pull-left">


				<h3>COLLECTIONS</h3>
				<hr>

				<div class="collections-left-panel col-md-8">

					<img src="img/11.jpg" style="width:100%;height: 400px;">

					<div class="two-section-midle">
						
						<div style="height: 200px;">
							<img src="img/2.jpg" style="width: 93%;">
						</div>

						<div>

							<div class="other-items col-md-4">
								<img src="img/aa.jpg">
							</div>

							<div class="other-items col-md-4">
								<img src="img/aa.jpg" >
							</div>

							<div class="other-items col-md-4">
								<img src="img/aa.jpg">
							</div>

						</div>

					</div>

				</div>

				<div class="col-md-4" style="padding:0">

					<div class="two-section-images">
						<div class="two-sections-pic col-md-6" style="border-right: 1px solid #eee;">
							<img src="img/aa.jpg">
						</div>

						<div class="two-sections-pic col-md-6">
							<img src="img/aa.jpg">
						</div>
					</div>

					<div class="two-sections-pic col-md-6" style="border-right: 1px solid #eee;">
						<img src="img/aa.jpg">								
					</div>

					<div class="two-sections-pic col-md-6 ">
						<img src="img/aa.jpg">
					</div>


				</div>

			</div>

					
			<div class="col-md-3 pull-right" >

				<h3>Start In</h3>
				<hr>

				<img src="img/aa.jpg" style="width:100%; height:348px">

				<div class="price-panel">
					<div class="price">
						<span>AU $948,03 </span>
						<del>4.35  piece</del>
					</div>
					<div class="discount">
						<span>15% off</span>
					</div>
				</div>

			</div>

			
		</div>
		<!-- end Two Section -->

		<div class="space40"></div>

		<!-- Items section -->
		<div class="col-md-12" style="padding:0" ng-repeat='item in items'>
		<div class="items-section container" >

				<div class="industry-info col-md-2">
					<div class="industry-enter col-md-12">
						<a href="{{item.href}}">{{item.name}}</a>
					<div class="space20"></div>
					</div>
					<hr>
					<ul class="keyword-list col-md-12">
						<li ng-repeat='menu in item.menues' ><a class="menu_items" href="{{menu.href}}">{{menu.name}}</a></li>
					</ul>
				</div>

				<div class="col-md-4" style="padding:0">
					
					<div id="myCarousel-{{item.id}}" class="carousel slide" data-ride="carousel">
				    <!-- Indicators -->
				    <ol class="carousel-indicators">
				      <li ng-repeat='slide in item.slider' data-target="#myCarousel-{{item.id}}" data-slide-to="{{slide.id}}" class="{{slide.active}}"></li>
				    </ol>

				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">

				      <div ng-repeat='slide in item.slider' class="item {{slide.active}}">
				        <img ng-src="{{slide.src}}" width="460" style="height:425px">
				      </div>
				  
				    </div>

				    <!-- Left and right controls -->
				    <a class="left carousel-control" href="#myCarousel-{{item.id}}" role="button" data-slide="prev">
				      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="right carousel-control" href="#myCarousel-{{item.id}}" role="button" data-slide="next">
				      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				      <span class="sr-only">Next</span>
				    </a>
				  </div>

				</div>

				<div class="pic col-md-6">

					<div class="top-industry-product col-md-8">
						<div>
						 	<img src="img/bb.jpg" style="width:100%;height: 215px;">
						</div>
					</div>

					<div class="pic col-md-4">
						<div class="item-section-images">
						 	<img src="img/aa.jpg" >
						</div>
					</div>

				</div>

				<div class="pic col-md-6" >
					
					<div class="pic col-md-4">
						<div class="item-section-images">
						 	<img src="img/aa.jpg" >
						</div>
					</div>

					<div class="pic col-md-4">
						<div class="item-section-images">
						 	<img src="img/aa.jpg" >
						</div>
					</div>

					<div class="pic col-md-4">
						<div class="item-section-images">
						 	<img src="img/aa.jpg">
						</div>
					</div>

				</div>

		</div>

		<div class="space40"></div>
		</div>
		<!-- end Items Section -->

		<!-- Recomendations section -->

		<div class="title container">
			<div class="collections-left-panel col-md-12">
				<h3>Recommendations for you</h3>
			</div>
		</div>

		<div class="recomendations-section container">

			<table class="col-md-12">
				<tr>
					<td ng-repeat='item in recommendations'>
						<div class="recomendations-images">

							<img ng-src="{{item.image_src}}" style="width:100%;height: 180px;">
							<div class="pro-info">
								<div class="g-orders">{{item.orders}} Orders</div>
								<span class="g-price">US ${{item.price}}</span>
								<del class="g-del-price">US ${{item.sale}}</del>
							</div>

						</div>
					</td>		
				</tr>

				<tr>
					<td ng-repeat='item in recommendations'>
						<div class="recomendations-images">

							<img ng-src="{{item.image_src}}" style="width:100%;height: 180px;">
							<div class="pro-info">
								<div class="g-orders">{{item.orders}} Orders</div>
								<span class="g-price">US ${{item.price}}</span>
								<del class="g-del-price">US ${{item.sale}}</del>
							</div>

						</div>
					</td>		
				</tr>

			</table>

		</div>
		<!-- end Recomendations Section -->

		<div class="space40"></div>

	</div>
	<!-- End Content -->


	<!-- Footer -->
	<div class="footer-top col-md-12">
		<div class="container">
			<div class="footer-top-section col-md-2">
				<span class="icon great"></span>
				<h4>Great value</h4>
				<p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
			</div>

			<div class="footer-top-section col-md-2">
				<span class="icon delivery"></span>
				<h4>Worldwide Delivery</h4>
				<p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
			</div>

			<div class="footer-top-section col-md-2">
				<span class="icon payment"></span>
				<h4>Safe Payment</h4>
				<p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
			</div>

			<div class="footer-top-section col-md-2">
				<span class="icon confidence"></span>
				<h4>Shop with Confidence</h4>
				<p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages </p>
			</div>

			<div class="footer-top-section col-md-2">
				<span class="icon help"></span>
				<h4>24/7 Help Center</h4>
				<p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
			</div>

			<div class="footer-top-section col-md-2">
				<span class="icon shop"></span>
				<h4>Shop On-The-Go</h4>
				<p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
			</div>
		</div>
	</div>

	<div class="footer-top-wraper">
			<div class="container">
			<div class="footer-top-search col-md-6">
				<h4>Subscription</h4>
				<input type="text" class="form-control" placeholder="Place enter your email">
				<button class="form-control footer-search-button">Subscripte</button>
				<p>It was popularised in the 1960s with the release</p>

					<div class="social-networks">
						<h3>Staye connected</h3>
							<div class="foot-sns-box">
								<a class="fb" href="#"></a>
								<a class="vk" href="#"></a>
								<a class="ok" href="#"></a>
								<a class="twiter" href="#"></a>
							</div>
					</div>

			</div>

			<div class="footer-top-search col-md-2">
				<h4>How to Buy</h4>
					<span><a href="">Greate an Account</a></span>
					<span><a href="">Greate an Account</a></span>
					<span><a href="">Greate an Account</a></span>
					<span><a href="">Greate an Account</a></span>
					<span><a href="">Greate an Account</a></span>
			</div>

			<div class="footer-top-search col-md-2">
				<h4>Customer Service</h4>
					<span><a href="">Customer Support</a></span>
					<span><a href="">Customer Support</a></span>
					<span><a href="">Customer Support</a></span>
					<span><a href="">Customer Support</a></span>
					<span><a href="">Customer Support</a></span>
					<span><a href="">Customer Support</a></span>
			</div>

			<div class="footer-top-search col-md-2">
				<h4>Partner Promotion</h4>
					<span><a href="">Partnership</a></span>
			</div>
		</div>

	</div>

	<hr class="fopter-line header-line">

	<div class="partner-box">
			
			<div class="container">
				<div class="partner_list">
					<span class="partner_1"></span>
					<span class="partner_2"></span>
					<span class="partner_3"></span>
					<span class="partner_4"></span>
					<span class="partner_5"></span>
					<span class="partner_6"></span>
					<span class="partner_7"></span>
					<span class="partner_8"></span>
					<span class="partner_9"></span>
					<span class="partner_10"></span>
					<span class="partner_11"></span>
					<span class="partner_12"></span>
					<span class="partner_13"></span>
					<span class="partner_14"></span>
					<span class="partner_15"></span>
					<span class="partner_16"></span>
					<span class="partner_17"></span>
					<span class="partner_18"></span>
					<span class="partner_19"></span>
					<span class="partner_20"></span>
				</div>
			</div>

	</div>

	<div class="footer-middle ">
		<div class="footer-middle-main container">
			<div class="footer-midle-wraper col-md-6">
				<h4>Information</h4>
					<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>
			</div>

			<div class="footer-midle-wraper col-md-6">
				<h4>Multi-Languge Site</h4>
					<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>
			</div>

			<div class="footer-midle-wraper col-md-6">
				<h4>Category</h4>
					<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>

					<div class="download-app">
						<a class="android-link" href="#"><img src="img/android.png">Google Play</a>
						<a class="iphone-link" href="#"><img src="img/apple.png">App Store</a>
					</div>
			</div>

			<div class="footer-midle-wraper col-md-6">
				<h4>Groupe</h4>
					<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>
			</div>


		</div>
	</div>

	<div class="footer-copywrite">
		<div class="container">
			<span>&copy;2010-2015 All rights reserved.</span>
		</div>
	</div>
	<!-- end Footer -->

	<!-- Scripts -->
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>	
	<script type="text/javascript" src="js/bootstrap.js"></script>	
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="js/ngInfiniteScroll.js"></script>
	<script>
		var myApp = angular.module('myApp', ['infinite-scroll']);
		myApp.controller('ProductsController', function($scope, $http) {

			var products;
			var loaded = 0;
			$http.get('data/products.json').then(function(res){

				products = res.data;
				loaded = 1;
	   	 	});

			var interval  = setInterval(function(){

			  	$scope.items = [];

			  	var last = 0;
			  	$scope.loadMore = function() {

			  		if(last < products.length){

			      		$scope.items.push(products[last]);
			      		last++;

				  	}

			  	};
				clearInterval(interval);
			},1000);

		  	$http.get('data/recommendations.json').then(function(res){

				$scope.recommendations = res.data;                

	   	 	});

	   	 	$http.get('data/menues.json').then(function(res){

				$scope.menues = res.data;                

	   	 	});

	   	 	$http.get('data/basic_slider.json').then(function(res){

				$scope.basic_slider = res.data;                

	   	 	});


		});
	</script>

</section>