<html xmlns:th="http://www.thymeleaf.org">
<style>.social_icons a{ max-width:105px;font-size: 14px!important}</style>
<div class="login_page">
    <div class="login-wrapper" ng-controller="LoginFormController">
        <div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <h1><a href="#" title="Login Page" tabindex="-1">Haggell: Where the world shops</a></h1>

            <form name="form" class="form-validation">

                <div class="text-danger text-center message" ng-show="authError">
                    {{authError}}
                </div>

                <p>
                    <input type="text" name="j_username" id="user_login" class="input" ng-model="user.j_username"  required/></label>
                </p>
                <p>
                    <input type="password" name="j_password" id="user_password" class="input" ng-model="user.j_password" placeholder="Password" required/></label>
                </p>
                <p class="forgetmenot">

                    <label class="icheck icheck-white" for="remember-me">
                        <input type="checkbox" value="forever" name="remember-me" checked id="remember-me">
                        <i></i> Remember me
                    </label>
                </p>



                <p class="submit">
                    <button type="submit" ng-click="login()" ng-disabled='form.$invalid' class="btn btn-orange btn-block">Sign In</button>
                </p>
                <p>Sign in with:</p>

                <table class="social_icons" style="border-collapse: separate; border-spacing: 2px; color: black">
                    <tr>
                        <td><a href="/auth/facebook" class="btn btn-block btn-social btn-sm btn-facebook" style="color:black"><i class="fa fa-facebook"></i>Facebook</a></td>
                        <td><a href="/auth/twitter" class="btn btn-block btn-social btn-sm btn-twitter" style="color:black"><i class="fa fa-twitter"></i>Twitter</a></td>
                        <td><a href="/auth/google?scope=profile" class="btn btn-block btn-social btn-sm btn-google-plus" style="color:black"><i class="fa fa-google-plus"></i>Google+</a></td>

                    </tr>

                </table>

                <div th:include="../fragments/exception :: errorInfo"/>
            </form>

            <p id="nav">
                <a class="pull-left" ui-sref="access.forgotpwd" title="Password Lost and Found">Forgot password?</a>
                <a class="pull-right" ui-sref="access.register" title="Sign Up">Sign Up</a>

            </p>
            <br>

        </div>
    </div>
</div>
</html>



