<style> .timeline:before {display:none;} .timeline_wrapper{background:#fff;} .timeline > li > .timeline-panel {margin-right: 190px; width: 60%;float: right;} </style>
<style>
.timeline {
  height: 800px;
  overflow: auto;
  border-radius: 5px;
  margin: 0 auto;
}

.timeline::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.timeline::-webkit-scrollbar-thumb {
  background-color: #b0fccd;
  border-radius: 10px;
}
.timeline::-moz-scrollbar {
  width: 8px;
  background-color: transparent;
}
.timeline::-moz-scrollbar-thumb {
  background-color: #b0fccd;
  border-radius: 10px;
}
.timeline::-ms-scrollbar {
  width: 8px;
  background-color: transparent;
}
.timeline::-ms-scrollbar-thumb {
  background-color: #b0fccd;
  border-radius: 10px;
}
</style>

<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Profile';">
    <div class="col-lg-12">
        <section class="box nobox">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 padding-right-0">
                        <div class=" uprofile-wrapper">
                            <div class="uprofile-image">
                                <img src="data/profile/profile.png" class="img-responsive">
                            </div>
                            <div class="uprofile-name">
                                <h3>
                                    <a href="#">John Carter</a>
                                    <!-- Available statuses: online, idle, busy, away and offline -->
                                    <span class="uprofile-status online"></span>
                                </h3>
                                <p class="uprofile-title">Web Developer</p>
                                <p class="text-light profile-text">Hello, I am John. I love working on web. I do photoshop, php, wordpress, css, html, ajax etc.</p>
                                <p class="margin-top-30">
                                    <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-dribbble icon-xs"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-google-plus icon-xs"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-twitter icon-xs"></i></a>
                                    <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-facebook icon-xs"></i></a>
                                </p>
                                <br>
                                <a class="btn btn-md btn-default" style='width:150px;'>Follow</a>
                                <div class="margin-top-30">
                                    <div class="col-xs-4 bg-white">
                                        <strong class="uprofile-count">760</strong>
                                        <span>Follower</span>
                                    </div>
                                    <div class="col-xs-4 bg-white">
                                        <strong class="uprofile-count">280</strong>
                                        <span>Following</span>
                                    </div>
                                    <div class="col-xs-4 bg-white">
                                        <strong class="uprofile-count">4104</strong>
                                        <span>Tweets</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uprofile-buttons margin-0 padding-top-0 text-center">
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <!-- Timeline -->
                    <div class="col-md-9 col-sm-12 col-xs-12 pull-left timeline_wrapper" data-ng-controller='ProfileCtrl'>
                        <!-- start -->
                        <ul class="timeline" when-scrolled='more()'>

                            <li data-ng-repeat='timline in items'>
                                <div class="timeline-panel animated fadeIn">
                                    <div class="timeline-time pull-right">
                                        {{timline.hours}} hours ago
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timeline-img">
                                        <img ng-src="{{timline.image}}" class='img-responsive'>
                                    </div>
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">{{timline.name}}</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class='date'>{{timline.date}}</p>
                                        <p>{{timline.description}}</p>
                                        <br>
                                        <a class='btn btn-primary btn-border btn-xs'>Read more</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <!-- end -->
                    </div>

                    <!-- end Timeline -->

                </div>
            </div>
        </section>
    </div>
</div>
