<style>

#heart i{font-size: 40px;position: absolute;z-index: 1;right: 5%;top: 2%;}
#heart:hover{cursor: pointer;color:silver;}
.profile_image{position:absolute;z-index: 1;right:6%;bottom:-9%;}
.price{color: white;position: absolute;bottom: 15%;left: 4%;z-index: 1;background: rgba(0, 0, 0, 0.44);padding: 1% 2% 1% 2%;}
.product_information a{color:black;}
.rateing{color:#E2BD2F;}
.star{margin-top:1%;font-size: 16px;}

</style>

<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="box" id="products_window" ng-controller="ProductsCtrl">
                      
        <div ng-repeat="product in products" class="col-md-4 col-sm-12 col-xs-12"><section class="box "><div class="content-body"><div class="row"><div class="col-md-12 col-sm-12 col-xs-12 carousel-demo"><div ng-controller="CarouselDemoCtrl" set-ng-animate="false"><span id="heart"><i class="material-icons"></i></span>

        <div class="profile-info ng-scope" ng-show="app.settings.menuProfile"><div class="profile_image profile-image text-center"><a ui-sref="app.ui.profile" href="#/app/ui/profile"><img ng-src="data/profile/{{product.profile_image}}" class="img-responsive"></a></div></div>

        <div class="price"><sup class="h6 text-contrast">$</sup><span class="h3 text-contrast price-amount">{{product.price}}</span><sup class="h6 text-contrast">AUD</sup></div>

        <carousel><slide ng-repeat="slide in slides" active="slide.active"><img ng-src="{{slide.image}}" style="margin:auto;min-height:250px"></slide></carousel></div></div>

        <div class="col-md-12 product_information"> <h4><a href="#">{{product.product_name}}</a></h4>

        <div itemprop="description" class="text-muted listing-location text-truncate"><a href="#" class="text-normal link-reset">Entire home/apt·    <strong class="text-beach rateing">{{product.stars}}</strong><span><i class="star rateing material-icons"></i></span>· {{product.reviews}} reviews</a></div></div>

        </div></div></section></div>
            
    </section>
</div>

<div class="clearfix"></div>
<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>