
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myContactInfoLabel" translate="karrmicApp.contactInfo.home.createOrEditLabel">Create or edit a ContactInfo</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="contactInfo.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.contactInfo.infoType" for="field_infoType">InfoType</label>
            <input type="text" class="form-control" name="infoType" id="field_infoType"
                    ng-model="contactInfo.infoType"
                    required>
            <div ng-show="editForm.infoType.$invalid">
                <p class="help-block"
                    ng-show="editForm.infoType.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.contactInfo.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="contactInfo.email"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.contactInfo.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="contactInfo.phone"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.contactInfo.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                    ng-model="contactInfo.website"
                    >
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
