
<div>
    <h2><span translate="karrmicApp.contactInfo.detail.title">ContactInfo</span> {{contactInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.contactInfo.infoType">InfoType</span>
                </td>
                <td>
                    <span class="form-control-static">{{contactInfo.infoType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.contactInfo.email">Email</span>
                </td>
                <td>
                    <span class="form-control-static">{{contactInfo.email}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.contactInfo.phone">Phone</span>
                </td>
                <td>
                    <span class="form-control-static">{{contactInfo.phone}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.contactInfo.website">Website</span>
                </td>
                <td>
                    <span class="form-control-static">{{contactInfo.website}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
