
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDiscountLabel" translate="karrmicApp.discount.home.createOrEditLabel">Create or edit a Discount</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="discount.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.discount.discountType" for="field_discountType">DiscountType</label>
            <select class="form-control" name="discountType" ng-model="discount.discountType" id="field_discountType" required>
                <option value="NORMAL" translate="karrmicApp.DiscountType.NORMAL">NORMAL</option>
                <option value="MEMBERONLY" translate="karrmicApp.DiscountType.MEMBERONLY">MEMBERONLY</option>
                <option value="LOCALONLY" translate="karrmicApp.DiscountType.LOCALONLY">LOCALONLY</option>
                <option value="HOTDEAL" translate="karrmicApp.DiscountType.HOTDEAL">HOTDEAL</option>
                <option value="DAILYDEAL" translate="karrmicApp.DiscountType.DAILYDEAL">DAILYDEAL</option>
                <option value="WEEKLYDEAL" translate="karrmicApp.DiscountType.WEEKLYDEAL">WEEKLYDEAL</option>
                <option value="MONTHLYDEAL" translate="karrmicApp.DiscountType.MONTHLYDEAL">MONTHLYDEAL</option>
            </select>
            <div ng-show="editForm.discountType.$invalid">
                <p class="help-block"
                    ng-show="editForm.discountType.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.discount.quantityRequired" for="field_quantityRequired">QuantityRequired</label>
            <input type="number" class="form-control" name="quantityRequired" id="field_quantityRequired"
                    ng-model="discount.quantityRequired"
                    required min="1">
            <div ng-show="editForm.quantityRequired.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantityRequired.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantityRequired.$error.min" translate="entity.validation.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantityRequired.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.discount.expiryDate" for="field_expiryDate">ExpiryDate</label>
            <input type="datetime-local" class="form-control" name="expiryDate" id="field_expiryDate"
                    ng-model="discount.expiryDate" ng-model-options="{timezone: 'UTC'}"
                    required>
            <div ng-show="editForm.expiryDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.expiryDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.expiryDate.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.discount.startDate" for="field_startDate">StartDate</label>
            <input type="datetime-local" class="form-control" name="startDate" id="field_startDate"
                    ng-model="discount.startDate" ng-model-options="{timezone: 'UTC'}"
                    required>
            <div ng-show="editForm.startDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.startDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.startDate.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.discount.discountPrice" for="field_discountPrice">DiscountPrice</label>
            <input type="number" class="form-control" name="discountPrice" id="field_discountPrice"
                    ng-model="discount.discountPrice"
                    required min="0">
            <div ng-show="editForm.discountPrice.$invalid">
                <p class="help-block"
                    ng-show="editForm.discountPrice.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.discountPrice.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.discountPrice.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="karrmicApp.discount.pricing" for="field_pricing">pricing</label>
            <select class="form-control" id="field_pricing" name="pricing" ng-model="discount.pricing" ng-options="pricing as pricing.id for pricing in pricings track by pricing.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
