
<div>
    <h2><span translate="karrmicApp.discount.detail.title">Discount</span> {{discount.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.discount.discountType">DiscountType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'karrmicApp.DiscountType.' + discount.discountType}}">{{discount.discountType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.discount.quantityRequired">QuantityRequired</span>
                </td>
                <td>
                    <span class="form-control-static">{{discount.quantityRequired}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.discount.expiryDate">ExpiryDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{discount.expiryDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.discount.startDate">StartDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{discount.startDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.discount.discountPrice">DiscountPrice</span>
                </td>
                <td>
                    <span class="form-control-static">{{discount.discountPrice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.discount.pricing">pricing</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="pricing.detail({id:discount.pricing.id})">{{discount.pricing.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
