<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>karrmic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="karrmicApp">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>
        <div ui-view="navbar" ng-cloak=""></div>
        <div class="container">
            <div class="well" ui-view="content"></div>

            <div class="footer">
                <p translate="footer">Haggell</p>
            </div>
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-70881760-1', 'auto');
            ga('send', 'pageview');

        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/messageformat/messageformat.js"></script>
        <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/maxbytes.directive.js"></script>
    <script src="scripts/components/form/minbytes.directive.js"></script>
    <script src="scripts/components/form/pager.directive.js"></script>
    <script src="scripts/components/form/pagination.directive.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/interceptor/auth.interceptor.js"></script>
    <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="scripts/components/interceptor/notification.interceptor.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/alert/alert.service.js"></script>
    <script src="scripts/components/alert/alert.directive.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/dateutil.service.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/health/health.modal.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.js"></script>
    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <script src="scripts/app/main/main.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="bower_components/messageformat/locale/en.js"></script>
    <script src="bower_components/messageformat/locale/fr.js"></script>
    <script src="scripts/components/language/language.service.js"></script>
    <script src="scripts/components/language/language.controller.js"></script>
    <script src="scripts/components/auth/services/sessions.service.js"></script>
    <script src="scripts/components/auth/provider/auth.session.service.js"></script>
    <script src="scripts/app/account/sessions/sessions.js"></script>
    <script src="scripts/app/account/sessions/sessions.controller.js"></script>
    <script src="scripts/app/entities/seller/seller.js"></script>
    <script src="scripts/app/entities/seller/seller.controller.js"></script>
    <script src="scripts/app/entities/seller/seller-dialog.controller.js"></script>
    <script src="scripts/app/entities/seller/seller-detail.controller.js"></script>
    <script src="scripts/components/entities/seller/seller.service.js"></script>
    <script src="scripts/components/entities/seller/seller.search.service.js"></script>
    <script src="scripts/app/entities/country/country.js"></script>
    <script src="scripts/app/entities/country/country.controller.js"></script>
    <script src="scripts/app/entities/country/country-dialog.controller.js"></script>
    <script src="scripts/app/entities/country/country-detail.controller.js"></script>
    <script src="scripts/components/entities/country/country.service.js"></script>
    <script src="scripts/components/entities/country/country.search.service.js"></script>
    <script src="scripts/app/entities/city/city.js"></script>
    <script src="scripts/app/entities/city/city.controller.js"></script>
    <script src="scripts/app/entities/city/city-dialog.controller.js"></script>
    <script src="scripts/app/entities/city/city-detail.controller.js"></script>
    <script src="scripts/components/entities/city/city.service.js"></script>
    <script src="scripts/components/entities/city/city.search.service.js"></script>
    <script src="scripts/app/entities/pricing/pricing.js"></script>
    <script src="scripts/app/entities/pricing/pricing.controller.js"></script>
    <script src="scripts/app/entities/pricing/pricing-dialog.controller.js"></script>
    <script src="scripts/app/entities/pricing/pricing-detail.controller.js"></script>
    <script src="scripts/components/entities/pricing/pricing.service.js"></script>
    <script src="scripts/components/entities/pricing/pricing.search.service.js"></script>
    <script src="scripts/app/entities/discount/discount.js"></script>
    <script src="scripts/app/entities/discount/discount.controller.js"></script>
    <script src="scripts/app/entities/discount/discount-dialog.controller.js"></script>
    <script src="scripts/app/entities/discount/discount-detail.controller.js"></script>
    <script src="scripts/components/entities/discount/discount.service.js"></script>
    <script src="scripts/components/entities/discount/discount.search.service.js"></script>
    <script src="scripts/app/entities/images/images.js"></script>
    <script src="scripts/app/entities/images/images.controller.js"></script>
    <script src="scripts/app/entities/images/images-dialog.controller.js"></script>
    <script src="scripts/app/entities/images/images-detail.controller.js"></script>
    <script src="scripts/components/entities/images/images.service.js"></script>
    <script src="scripts/components/entities/images/images.search.service.js"></script>
    <script src="scripts/app/entities/category/category.js"></script>
    <script src="scripts/app/entities/category/category.controller.js"></script>
    <script src="scripts/app/entities/category/category-dialog.controller.js"></script>
    <script src="scripts/app/entities/category/category-detail.controller.js"></script>
    <script src="scripts/components/entities/category/category.service.js"></script>
    <script src="scripts/components/entities/category/category.search.service.js"></script>
    <script src="scripts/app/entities/contactInfo/contactInfo.js"></script>
    <script src="scripts/app/entities/contactInfo/contactInfo.controller.js"></script>
    <script src="scripts/app/entities/contactInfo/contactInfo-dialog.controller.js"></script>
    <script src="scripts/app/entities/contactInfo/contactInfo-detail.controller.js"></script>
    <script src="scripts/components/entities/contactInfo/contactInfo.service.js"></script>
    <script src="scripts/components/entities/contactInfo/contactInfo.search.service.js"></script>
    <script src="scripts/app/entities/shopper/shopper.js"></script>
    <script src="scripts/app/entities/shopper/shopper.controller.js"></script>
    <script src="scripts/app/entities/shopper/shopper-dialog.controller.js"></script>
    <script src="scripts/app/entities/shopper/shopper-detail.controller.js"></script>
    <script src="scripts/components/entities/shopper/shopper.service.js"></script>
    <script src="scripts/components/entities/shopper/shopper.search.service.js"></script>
    <script src="scripts/app/entities/review/review.js"></script>
    <script src="scripts/app/entities/review/review.controller.js"></script>
    <script src="scripts/app/entities/review/review-dialog.controller.js"></script>
    <script src="scripts/app/entities/review/review-detail.controller.js"></script>
    <script src="scripts/components/entities/review/review.service.js"></script>
    <script src="scripts/components/entities/review/review.search.service.js"></script>
    <script src="scripts/app/entities/address/address.js"></script>
    <script src="scripts/app/entities/address/address.controller.js"></script>
    <script src="scripts/app/entities/address/address-dialog.controller.js"></script>
    <script src="scripts/app/entities/address/address-detail.controller.js"></script>
    <script src="scripts/components/entities/address/address.service.js"></script>
    <script src="scripts/components/entities/address/address.search.service.js"></script>
    <script src="scripts/app/entities/product/product.js"></script>
    <script src="scripts/app/entities/product/product.controller.js"></script>
    <script src="scripts/app/entities/product/product-dialog.controller.js"></script>
    <script src="scripts/app/entities/product/product-detail.controller.js"></script>
    <script src="scripts/components/entities/product/product.service.js"></script>
    <script src="scripts/components/entities/product/product.search.service.js"></script>
    <script src="scripts/app/entities/customerOrder/customerOrder.js"></script>
    <script src="scripts/app/entities/customerOrder/customerOrder.controller.js"></script>
    <script src="scripts/app/entities/customerOrder/customerOrder-dialog.controller.js"></script>
    <script src="scripts/app/entities/customerOrder/customerOrder-detail.controller.js"></script>
    <script src="scripts/components/entities/customerOrder/customerOrder.service.js"></script>
    <script src="scripts/components/entities/customerOrder/customerOrder.search.service.js"></script>
    <!-- endbuild -->
</body>
</html>
