
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAddressLabel" translate="karrmicApp.address.home.createOrEditLabel">Create or edit a Address</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="address.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.address.addressType" for="field_addressType">AddressType</label>
            <select class="form-control" name="addressType" ng-model="address.addressType" id="field_addressType" required>
                <option value="Residential" translate="karrmicApp.AddressType.Residential">Residential</option>
                <option value="HQ" translate="karrmicApp.AddressType.HQ">HQ</option>
                <option value="Branch" translate="karrmicApp.AddressType.Branch">Branch</option>
                <option value="Temporary" translate="karrmicApp.AddressType.Temporary">Temporary</option>
            </select>
            <div ng-show="editForm.addressType.$invalid">
                <p class="help-block"
                    ng-show="editForm.addressType.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.address.addressLine1" for="field_addressLine1">AddressLine1</label>
            <input type="text" class="form-control" name="addressLine1" id="field_addressLine1"
                    ng-model="address.addressLine1"
                    >
        </div>
        <div class="form-group">
            <label translate="karrmicApp.address.addressLine2" for="field_addressLine2">AddressLine2</label>
            <input type="text" class="form-control" name="addressLine2" id="field_addressLine2"
                    ng-model="address.addressLine2"
                    >
        </div>

        <div class="form-group">
            <label translate="karrmicApp.address.city" for="field_city">city</label>
            <select class="form-control" id="field_city" name="city" ng-model="address.city" ng-options="city as city.id for city in citys track by city.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
