
<div>
    <h2><span translate="karrmicApp.address.detail.title">Address</span> {{address.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.address.addressType">AddressType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'karrmicApp.AddressType.' + address.addressType}}">{{address.addressType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.address.addressLine1">AddressLine1</span>
                </td>
                <td>
                    <span class="form-control-static">{{address.addressLine1}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.address.addressLine2">AddressLine2</span>
                </td>
                <td>
                    <span class="form-control-static">{{address.addressLine2}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.address.city">city</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="city.detail({id:address.city.id})">{{address.city.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
