
body{
	margin: 0px;
	padding: 0px;
	background-color: #eee;
}

.header-wrapper{
	padding-top: 15px;
	background: #fff;
    border-bottom: 1px solid #EEEEEE;
}

.logo-wrapper img{
	width:80%;
	max-width:135px;
}

.search-wrapper{
	padding:0;
}

.search-wrapper input{
	padding: 20px 25px;
	width: 65%;
	border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
}

.content{
	background:#EEEEEE;
}

.categoris{
	height:42px;
	float:left;
	width: 27%;
	border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}


.search-button{
	height:42px;
	border-color:#E62E04;
	background:#E62E04;
	width: 8%;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.search-button span{
	font-size:170%;
	color:#fff;
}

.header-bottom, .navigation-menu, .two-sections-pic, .container, .keyword-list, .pic, .collections-left-panel{
	padding: 0;
}

.navigation-menu li {
	display: inline;
}

.navigation-menu li a {
	font-weight: 700;
	font-size: 17px;
}


.items-section{
	border-top: 2px solid red;
	
	background: #fff;
}

.other-items{
	padding: 0;
	margin: 21% 0%;
}
.other-items img{
	width: 79%;
}

.two-sections-pic img{
	width: 90%;
}

.menu{
	text-decoration: none;
	color: black;
	font-size: 19px;
    padding: 15px;

}


.menu_items{
	text-decoration: none;
	color: black;
	font-size: 19px;
    padding: 15px;
}

.menu_items:hover, .menu:hover{
	color: #f60;
	text-decoration: none;
}

.industry-enter{
    width: 115%;
    float: right;
    margin: 0px -12px;
 }

.industry-enter a{
    display: block;
    height: 100px;
    padding-top: 22px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
 }

.keyword-list{
	list-style-type: none;
	text-align:center;
}

.keyword-list li{
	padding:5%;
}

.keyword-list li a{

	font-size:14px;

}


.top-industry-product {
	border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.top-industry-product:hover, .item-section-images:hover, .industry-enter a:hover{
	position: relative;
    z-index: 3;
    box-shadow: 0 3px 6px 0 rgba(51,51,51,.298039);
    text-decoration: none;
}

.recomendations-images{
	padding: 6px;
	background-color: #fff;
}

.recomendations-images:hover{
	cursor:pointer;
}


.item-section-images {
	border-right: 1px solid #eee;
	    border-bottom: 1px solid #eee

}

.item-section-images img{
	width:100%;
	height: 215px;
}



.icons-wrapper div {
	padding:0;
}

.icons-wrapper div:hover{
	cursor: pointer;
}

.cart:hover>*{
	color:red!important;
}

.wish-list:hover>*{
	color:red!important;
}

.sign-in:hover>*{
	color:red!important;
}

.cart:hover>div a i{
	color:red;
}

.wish-list:hover>div a i{
	color:red;
}

.sign-in:hover>div a i{
	color:red;
}


.icon{
	font-size: 200%;
    color: black;
}

.icons-text{
    font-size: 16px;
}



.footer-top{
    border-bottom: 1px solid #eee;

}

.footer-top-section{
	float: left;
    width: 16.66666667%;
    padding-top: 40px;
    padding: 40px 0 10px;
    min-height: 228px;
    text-align: center;
    border-right: 1px solid #eee;
}

.footer-top-section:first-child {
    border-left: 1px solid #eee;
}

.footer-top-section .icon{
	display: block;
    margin: 0 auto 15px;
    width: 52px;
    height: 53px;
    background: url(../img/home-sprite.png) no-repeat;
}
.footer-top-section  .great{
    background-position: -400px -350px;
    width: 60px;
}

.footer-top-section  .delivery{
	background-position: -500px -350px;
    width: 60px;
}

.footer-top-section  .payment{
	background-position: -100px -350px;
    width: 54px;
}

.footer-top-section  .confidence{
	background-position: -200px -350px;
    width: 50px;
}

.footer-top-section  .center{
	background-position: 0 -350px;
    width: 68px;
}

.footer-top-section .help{
	background-position: 0 -350px;
    width: 68px;
}

.footer-top-section .shop{
    background-position: -250px -350px;
    width: 106px;
}
.footer-top-section p{
	margin-bottom: 0;
    line-height: 22px;
    color: #999;
    padding: 0 15px;
}

.footer-top-section h3{
	line-height: 30px;
    margin-bottom: 5px;
    color: #333;
}

.social-networks a{
	background: url(../img/home-sprite.png) no-repeat;
	margin: 2% 1%;
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    vertical-align: top;
}

.social-networks a.fb{
	background-position: -37px -200px;
}

.social-networks a.fb:hover{
	background-position: -37px -250px;
}

.social-networks a.vk{
	background-position: 0 -200px;
}

.social-networks a.vk:hover{
	background-position: 0 -250px;
}

.social-networks a.ok{
	background-position: -74px -200px;
}

.social-networks a.ok:hover{
	background-position: -74px -250px;
}

.social-networks a.twiter{
	background-position: -111px -200px;
}

.social-networks a.twiter:hover{
	background-position: -111px -250px;
}

.partner-box{ 
	background-color: #fff;
	text-align: center;
	border-top: 1px solid #eee;
	padding: 10px 0;
 }

.partner-box span{
	display: inline-block;
    margin: 15px 15px 15px 0;
    height: 24px;
    background: url(../img/home-sprite.png) no-repeat;
}

.partner_list{
	margin: 0px auto;
	max-width: 800px;
}

.partner_list span.partner_1{
	width: 52px;
    background-position: -250px -200px;
}

.partner_list span.partner_2{
    width: 29px;
    background-position: -308px -200px;
    margin-right: 5px;
}

.partner_list span.partner_3{
    width: 25px;
    background-position: -339px -200px;
    margin-right: 5px;
}

.partner_list span.partner_4{
    width: 25px;
    background-position: -365px -200px;
}

.partner_list span.partner_5{
    width: 55px;
    background-position: -404px -200px;
}

.partner_list span.partner_6{
   width: 50px;
   background-position: -473px -200px;
}

.partner_list span.partner_7{
    width: 40px;
    background-position: -250px -250px;
}

.partner_list span.partner_8{
    width: 66px;
    background-position: -303px -250px;
}

.partner_list span.partner_9{
    width: 66px;
    background-position: -370px -250px;
}

.partner_list span.partner_10{
    width: 56px;
    background-position: -450px -250px;
}

.partner_list span.partner_11{
 	width: 75px;
    background-position: -518px -250px;  
}

.partner_list span.partner_12{
    width: 58px;
    background-position: 0 -300px;
}

.partner_list span.partner_13{
	width: 60px;
    background-position: -73px -300px;
   
}

.partner_list span.partner_14{
     width: 51px;
    background-position: -136px -300px;  
}

.partner_list span.partner_15{
    width: 66px;
    background-position: -212px -300px;
}

.partner_list span.partner_16{
    width: 42px;
    background-position: -307px -300px;
}

.partner_list span.partner_17{
    width: 50px;
    background-position: -377px -300px;
}

.partner_list span.partner_18{
    width: 50px;
    background-position: -377px -300px
}

.partner_list span.partner_19{
    width: 66px;
    background-position: -500px -300px;
}

.partner_list span.partner_20{
   width: 24px;
   background-position: -576px -300px;
}

.footer-top-wraper{
	background-color: #fff;
}

.footer-top-search h4{
	color: #333;
    margin-bottom: 10px;
}

.footer-top-search input{
	width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    float: left;
    height: 40px;
}

.fopter-line{
	margin: 0px;
}

.footer-search-button{
    border-color: #E62E04;
    background: #E62E04;
    width: 25%;
    margin-top: 1px;
    border-radius: 0;
    color: white;
    height: 40px;

}

.footer-top-search span a{
	color: #999;
    font-size: 14px;
}

.footer-top-search p{
	color: #999;
	margin: 10px 0 0 0;
    font-size: 12px;
}

.footer-midle-wraper h4{
	color: #333;
    line-height: 28px;
    margin-bottom: 5px;
}

.footer-midle-wraper p{
	color: #999;
}

.download-app a{
    position: relative;
    display: inline-block;
    padding: 0% 2%;
    margin-right: 10px;
    line-height: 30px;
    background-color: #a4c739;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
}

.download-app a.iphone-link {
    background-color: #8c8c8c;
}

.space40{
	height:40px;
}

.space20{
	height:20px;
}

.footer-middle{
	background: #EEEEEE;
	width: 100%;
}

.footer-middle-main{
	background: #eee;
}

.social-networks h3{
	margin-bottom: 5px;
    line-height: 32px;
    color: #333;
}

.basic-section{
	background: #fff;
}

.two-section-midle{
	position: absolute;
    top: 5%;
    right: 0%;
    width: 45%;
    height: 300px;
}

.two-section-images{
	border-bottom: 1px solid #eee;
    float: left;
}

.two-section .pull-left, .two-section .pull-right{
	background:#fff;
	height:100%;
	padding:0;
	border-top:2px solid #000;
}

.two-section .pull-left hr, .two-section .pull-right hr{
	margin:0;
}

.two-section .pull-left h3, .two-section .pull-right h3{
	padding-left:20px;
}

.collections-panel{
	padding: 0;
}

.price{
   padding-right: 8px;
   padding-left: 20px;
    display: inline-block;
    text-align: left;
}

.price span {
	font-size: 24px;
    font-weight: 700;
    color: #333;
    line-height: 138%;
    display: block;
}

.discount{
	display: inline-block;
    vertical-align: top;
}


.recomendations-section{
	background-color: #eee;
	padding: 0;
}

.recomendations-section tr td{
	max-width:222px;
}

td {
	padding: 5px;
}

.pro-info{
	position: relative;
    height: 73px;
    padding: 2px;
}

.g-orders{
	position: relative;
    height: 73px;
    padding-top: 20px;
    float: right;
}

.g-price{
	display: block;
    color: #545454;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
}

.g-del-price{
	color: #999;
}

.recomendations-images:hover {
    box-shadow: 0 3px 6px 0 rgba(51,51,51,.298039);
}

.footer-copywrite{
    background-color: #333;
    color: #666;
    height: 35px;
    line-height: 35px;
    margin-top: 3%;
}

.carousel-control {
	display:none;
    height: 20%;
    width: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel:hover .carousel-control{
	display:block;
}

.carousel-indicators li{
	background: #fff;
}

.carousel-indicators .active{
	background: red;
}

.items-section .carousel-control{
	width:10%;
}

.items-section .top-industry-product:hover{
	cursor: pointer;
}

.items-section .pic:hover{
	cursor: pointer;
}

.industry-info{
	padding: 1px;
}