
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDealsLabel" translate="karrmicApp.deals.home.createOrEditLabel">Create or edit a Deals</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="deals.id" readonly>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.deals.dealType" for="field_dealType">DealType</label>
            <select class="form-control" name="dealType" ng-model="deals.dealType" id="field_dealType" required>
                <option value="currentweek" translate="karrmicApp.DealType.currentweek">currentweek</option>
                <option value="nextweek" translate="karrmicApp.DealType.nextweek">nextweek</option>
                <option value="pastweek" translate="karrmicApp.DealType.pastweek">pastweek</option>
                <option value="superdeal" translate="karrmicApp.DealType.superdeal">superdeal</option>
                <option value="hours24" translate="karrmicApp.DealType.hours24">hours24</option>
                <option value="featuredbrands" translate="karrmicApp.DealType.featuredbrands">featuredbrands</option>
                <option value="featured" translate="karrmicApp.DealType.featured">featured</option>
                <option value="haggell" translate="karrmicApp.DealType.haggell">haggell</option>
            </select>
            <div ng-show="editForm.dealType.$invalid">
                <p class="help-block"
                    ng-show="editForm.dealType.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="karrmicApp.deals.weight" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                    ng-model="deals.weight"
                    >
        </div>

        <div class="form-group">
            <label translate="karrmicApp.deals.product" for="field_product">product</label>
            <select class="form-control" id="field_product" name="product" ng-model="deals.product" ng-options="product as product.id for product in products | orderBy:'id' track by product.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
