
<div>
    <h2><span translate="karrmicApp.deals.detail.title">Deals</span> {{deals.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.deals.dealType">DealType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'karrmicApp.DealType.' + deals.dealType}}">{{deals.dealType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.deals.weight">Weight</span>
                </td>
                <td>
                    <span class="form-control-static">{{deals.weight}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.deals.product">product</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="product.detail({id:deals.product.id})">{{deals.product.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
