
<div>
    <h2><span translate="karrmicApp.seller.detail.title">Seller</span> {{seller.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="karrmicApp.seller.fullName">FullName</span>
                </td>
                <td>
                    <span class="form-control-static">{{seller.fullName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.seller.emailAddress">EmailAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{seller.emailAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.seller.registerDate">RegisterDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{seller.registerDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.seller.isActive">IsActive</span>
                </td>
                <td>
                    <span class="form-control-static">{{seller.isActive}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.seller.sellerInfo">SellerInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{seller.sellerInfo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.seller.karmaPoints">KarmaPoints</span>
                </td>
                <td>
                    <span class="form-control-static">{{seller.karmaPoints}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.seller.address">address</span>
                </td>
                <td>
                    <span ng-repeat="address in seller.addresss">
                        <a class="form-control-static" ui-sref="address.detail({id: {{address.id}}})">{{address.id}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="karrmicApp.seller.contactInfo">contactInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="contactInfo.detail({id:seller.contactInfo.id})">{{seller.contactInfo.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
