<div>
    <h2 translate="karrmicApp.seller.home.title">Sellers</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="seller.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="karrmicApp.seller.home.createLabel">Create a new Seller</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Seller</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSellerConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(seller.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="karrmicApp.seller.delete.question" translate-values="{id: '{{seller.id}}'}">Are you sure you want to delete this Seller?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="karrmicApp.seller.fullName">FullName</th>
                    <th translate="karrmicApp.seller.emailAddress">EmailAddress</th>
                    <th translate="karrmicApp.seller.registerDate">RegisterDate</th>
                    <th translate="karrmicApp.seller.isActive">IsActive</th>
                    <th translate="karrmicApp.seller.sellerInfo">SellerInfo</th>
                    <th translate="karrmicApp.seller.karmaPoints">KarmaPoints</th>
                    <th translate="karrmicApp.seller.contactInfo">contactInfo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="seller in sellers track by seller.id">
                    <td><a ui-sref="seller.detail({id:seller.id})">{{seller.id}}</a></td>
                    <td>{{seller.fullName}}</td>
                    <td>{{seller.emailAddress}}</td>
                    <td>{{seller.registerDate}}</td>
                    <td>{{seller.isActive}}</td>
                    <td>{{seller.sellerInfo}}</td>
                    <td>{{seller.karmaPoints}}</td>
                    <td>
                        <a ui-sref="contactInfo.detail({id:seller.contactInfo.id})">{{seller.contactInfo.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="seller.detail({id:seller.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="seller.edit({id:seller.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(seller.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
